<cart-header inline-template xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div js-cart class="header-major__cart">
        <div js-cart-side class="header-major__cart-side">
            <a href="/order/cart/" class="header-major__cart-toggle"></a>
            <div class="header-major__cart-amount" :class="{'is-init':init}">
                <span class="amount" v-text="amount"></span>
            </div>
        </div>
        <div js-cart-main class="header-major__cart-main">
            <div class="header-major__cart-major">
                <div class="header-major__cart-title">
                    Корзина
                </div>
            </div>
            <div class="header-major__cart-minor">
                {% include 'cart/cart-quick.html.twig' with {btn:{url:'/order/cart/',title:'Оформить заказ',mod:'button_full'}} %}
            </div>
        </div>
    </div>
</cart-header>