{% extends 'base.html.twig' %}
{% block body_mod %}{% endblock %}
{% block body %}
    <div class="sections-list block">
        <div class="sections-list__list block-wrapper">
            {% if breadcrumbs is defined and breadcrumbs is not empty %}
                <div class="section section_breadcrumbs sections-list__list-item">
                    {% include 'modules/breadcrumbs.html.twig' with {links:breadcrumbs} %}
                </div>
            {% endif %}
            <div class="section sections-list__list-item">
                <div class="cart-control">
                    <div class="cart-control__wrapper">
                        <div class="cart-control__major">
                            <div class="cart-control__header">
                                <h1 class="cart-control__title">Корзина</h1>
                            </div>
                        </div>
                        <div class="cart-control__minor">
                            {% if cart is defined and cart.code == 0 and cart.products is not empty %}
                                <div class="cart-control__table">
                                    {% include 'cart/cart-quick.html.twig' with {mod:'is-check', btn:{url: path('order_checkout'),title:'Продолжить'}} %}
                                </div>
                            {% else %}
                                <div class="cart-control__message">
                                    Корзина пуста перейти в <a class="link link_violet link-bordered" href="/catalog">Каталог</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}