<cart-quick inline-template xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div class="cart-quick {{ mod is defined ? mod : '' }}"
         :class="{'is-empty':!filled, 'is-lock':lock, 'is-init':load}">
        <div class="cart-quick__wrapper">
            <div class="cart-quick__major">
                <div js-scroll-content class="cart-quick__body">
                    <div class="cart-quick__main">
                        <div v-if="filled" class="cart-quick__list">
                            <div v-for="(product,key) in products" :key="key" class="cart-quick__list-item">
                                <product-row :product="product" inline-template>
                                    <div class="product-row">
                                        <div class="product-row__wrapper">
                                            <div class="product-row__main">
                                                <div class="product-row__main-wrapper">
                                                    <a :href="product.url" class="product-row__pic">
                                                        <img class="product-row__pic-img" :src="product.image" alt="">
                                                    </a>
                                                    <div class="product-row__info">
                                                        <div class="product-row__info-major">
                                                            <div class="product-row__info-wrapper">
                                                                <div class="product-row__info-main">
                                                                    <a :href="product.url" v-text="product.name"
                                                                       class="product-row__info-title"></a>
                                                                </div>
                                                                <div class="product-row__info-side">
                                                                    <div class="product-row__counter">
                                                                        <div class="product-amount">
                                                                            <div class="product-amount__wrapper">
                                                                                <div class="product-amount__left">
                                                                                    <button v-on:click.prevent="decrementAmountProductInCart"
                                                                                            class="product-amount__action product-amount__action_decrement"></button>
                                                                                </div>
                                                                                <div class="product-amount__middle">
                                                                                    <div v-text="product.amount"
                                                                                         class="product-amount__value"></div>
                                                                                </div>
                                                                                <div class="product-amount__right">
                                                                                    <button v-on:click.prevent="incrementAmountProductInCart"
                                                                                            class="product-amount__action product-amount__action_increment"></button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="product-row__info-minor">
                                                            <div class="product-row__cols">
                                                                <div class="product-row__cols-list">
                                                                    <div class="product-row__cols-item">
                                                                        <div class="product-row__availability">
                                                                            В наличии ${product.available}
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-row__cols-item">
                                                                        <div class="product-row__code">
                                                                            Артикул: ${product.code}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-row__side">
                                                <div class="product-row__price">
                                                    <div class="product-row__price-main">
                                                        <div class="product-row__sum">
                                                            ${(totalPrice.format) } ₽
                                                        </div>
                                                    </div>
                                                    <div v-if="product.oldPrice && product.oldPrice > 0"
                                                         class="product-row__price-side">
                                                        <div class="product-row__sum product-row__sum_old">
                                                            ${(totalDiscount.format)} ₽
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-row__remove" v-on:click="removeProductInCart"></div>
                                    </div>
                                </product-row>
                            </div>
                        </div>
                        <div v-else class="cart-quick__message">
                            Вы еще ничего не добавили
                        </div>
                    </div>
                </div>
                <div v-if="filled" class="cart-quick__footer">
                    <div class="cart-quick__footer-wrapper">
                        <div class="cart-quick__footer-main">
                            <div v-if="allOldProductPrice.number > 0" class="cart-quick__total">
                                <div class="cart-quick__total-wrapper">
                                    <div class="cart-quick__total-main">
                                        <div class="cart-quick__total-caption">
                                            Скидка:
                                        </div>
                                    </div>
                                    <div class="cart-quick__total-side">
                                        <div class="cart-quick__total-sum">
                                            ${allOldProductPrice.format} ₽
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if not app.user %}
                                <div class="cart-quick__message">
                                    <div class="cart-quick__message-wrapper">
                                        Вы оформляете заказ как розничный покупатель!
                                        Если вы являетесь партнером магазина вам необходимо <a href="/login/">авторизироваться</a>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="cart-quick__total cart-quick__total_bordered">
                                <div class="cart-quick__total-wrapper">
                                    <div class="cart-quick__total-main">
                                        <div class="cart-quick__total-caption">
                                            Итого (${amount}):
                                        </div>
                                    </div>
                                    <div class="cart-quick__total-side">
                                        <div class="cart-quick__total-sum">
                                            ${allProductPrice.format} ₽
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cart-quick__footer-side">
                            <a href="{{ btn.url }}" class="button button_large {{ btn.mod is defined ? btn.mod : '' }}"><span
                                        class="button__content"><span
                                            class="button__title">{{ btn.title }}</span></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</cart-quick>
