{% extends 'base.html.twig' %}
{% block body_mod %}{% endblock %}
{% block body %}
    <div class="sections-list block">
        <div class="sections-list__list block-wrapper">
            {% if breadcrumbs is defined and breadcrumbs is not empty %}
                <div class="section section_breadcrumbs sections-list__list-item">
                    {% include 'modules/breadcrumbs.html.twig' with {links:breadcrumbs} %}
                </div>
            {% endif %}
            <div class="section sections-list__list-item">
                <div class="cart-control">
                    <div class="cart-control__wrapper">
                        <div class="cart-control__major">
                            <div class="cart-control__header">
                                <h1 class="cart-control__title">Корзина</h1>
                            </div>
                        </div>
                        <div class="cart-control__minor">
                            <div class="cart-control__message">
                                {% if message is defined and message is not empty %}
                                    {{ message }}
                                {% endif %}
                                Ваш заказ успешно создан. Наш менеджер свяжется с вами в ближайшее время. <br/>
                                {% if app.user %}
                                    Статус вашего заказа вы можете проверить в <a href="{{ path('profile_orders') }}">личном
                                    кабинете</a>
                                {% else %}
                                    Статус вашего заказа вы можете уточнить у нашего менеджера
                                    <a href="{{ 'tel:' ~ (page.phone | replace({'-': '',' ': '', '(': '', ')': ''})) }}">{{ page.phone }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}