{% extends 'base.html.twig' %}
{% block body_mod %}is-lock-cart{% endblock %}
{% block body %}
    <div class="sections-list block">
        <div class="sections-list__list block-wrapper">
            {% if breadcrumbs is defined and breadcrumbs is not empty %}
                <div class="section section_breadcrumbs sections-list__list-item">
                    {% include 'modules/breadcrumbs.html.twig' with {links:breadcrumbs} %}
                </div>
            {% endif %}
            <div class="section sections-list__list-item">
                <div class="cart-control">
                    <div class="cart-control__wrapper">
                        <div class="cart-control__major">
                            <div class="cart-control__header">
                                <h1 class="cart-control__title">
                                    Оформление заказа
                                </h1>
                            </div>
                        </div>
                        <div class="cart-control__minor">
                            {% if message is defined and message is not empty %}
                                <div class="cart-control__message">
                                    {{ message }}
                                </div>
                            {% endif %}
                            {{ form_start(form, {'attr': {'class': 'profile-list profile-list_bordered'}}) }}
                            <div class="cart-control__cols">
                                <div class="cart-control__cols-wrapper">
                                    <div class="cart-control__cols-main">
                                        <div class="cart-control__form">
                                            <div class="profile-list">
                                                <div class="profile-list__list">
                                                    <div class="profile-list__item">
                                                        <div class="list-fields list-fields_row_small list-fields_2x">
                                                            <div class="list-fields__list">
                                                                <div class="list-fields__list-item">
                                                                    <div class="list-fields__item">
                                                                        <div class="list-fields__item-side">
                                                                            <div class="list-fields__item-title">
                                                                                {{ form_label(form.lastName) }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="list-fields__item-main selectus_dark">
                                                                            <label class="field field_dark">
                                                                                {{ form_widget(form.lastName, {'attr' : {'class': 'field__input'}}) }}
                                                                                {{ form_errors(form.lastName) }}
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="list-fields__list-item">
                                                                    <div class="list-fields__item">
                                                                        <div class="list-fields__item-side">
                                                                            {{ form_label(form.firstName) }}
                                                                        </div>
                                                                        <div class="list-fields__item-main selectus_dark">
                                                                            <label class="field field_dark">
                                                                                {{ form_widget(form.firstName, {'attr' : {'class': 'field__input'}}) }}
                                                                                {{ form_errors(form.firstName) }}
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="list-fields__list-item">
                                                                    <div class="list-fields__item">
                                                                        <div class="list-fields__item-side">
                                                                            <div class="list-fields__item-title">
                                                                                {{ form_label(form.secondName) }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="list-fields__item-main selectus_dark">
                                                                            <label class="field field_dark">
                                                                                {{ form_widget(form.secondName, {'attr' : {'class': 'field__input'}}) }}
                                                                                {{ form_errors(form.secondName) }}
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="profile-list__item">
                                                        <div class="profile-list__item-main">
                                                            <div class="list-fields list-fields_row_small list-fields_2x">
                                                                <div class="list-fields__list">
                                                                    <div class="list-fields__list-item">
                                                                        <div class="list-fields__item">
                                                                            <div class="list-fields__item-side">
                                                                                {{ form_label(form.email) }}
                                                                            </div>
                                                                            <div class="list-fields__item-main selectus_dark">
                                                                                <label class="field field_dark">
                                                                                    {{ form_widget(form.email, {'attr' : {'class': 'field__input'}}) }}
                                                                                    {{ form_errors(form.email) }}
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="list-fields__list-item">
                                                                        <div class="list-fields__item">
                                                                            <div class="list-fields__item-side">
                                                                                {{ form_label(form.phone) }}
                                                                            </div>
                                                                            <div class="list-fields__item-main">
                                                                                <label js-inputShadow
                                                                                       class="field field_dark">
                                                                                    {{ form_widget(form.phone, {'attr' :
                                                                                        {'class': 'field__input', 'js-phonemask' : '',
                                                                                            'data-is-inputmask': 'true'},
                                                                                        'type': 'phone'}) }}
                                                                                    {{ form_errors(form.phone) }}
                                                                                    <span class="field__error"></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="profile-list__item">
                                                        <div class="list-fields list-fields_row_small list-fields_2x">
                                                            <div class="list-fields__list">
                                                                <div class="list-fields__list-item">
                                                                    <div class="list-fields__item">
                                                                        <div class="list-fields__item-side">
                                                                            {{ form_label(form.region) }}
                                                                        </div>
                                                                        <div class="list-fields__item-main selectus_dark">
                                                                            <label class="field field_dark">
                                                                                {{ form_widget(form.region, {'attr' : {'class': 'field__input'}}) }}
                                                                                {{ form_errors(form.region) }}
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="list-fields__list-item">
                                                                    <div class="list-fields__item">
                                                                        <div class="list-fields__item-side">
                                                                            <div class="list-fields__item-title">
                                                                                {{ form_label(form.city) }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="list-fields__item-main selectus_dark">
                                                                            <label class="field field_dark">
                                                                                {{ form_widget(form.city, {'attr' : {'class': 'field__input'}}) }}
                                                                                {{ form_errors(form.city) }}
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="profile-list__item">
                                                        <div class="list-fields list-fields_row_small list-fields_2x">
                                                            <div class="list-fields__list">
                                                                <div class="list-fields__list-item">
                                                                    <div class="list-fields__item">
                                                                        <div class="list-fields__item-side">
                                                                            <div class="list-fields__item-title">
                                                                                {{ form_label(form.street) }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="list-fields__item-main selectus_dark">
                                                                            <label class="field field_dark">
                                                                                {{ form_widget(form.street, {'attr' : {'class': 'field__input'}}) }}
                                                                                {{ form_errors(form.street) }}
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="list-fields__list-item">
                                                                    <div class="list-fields__item">
                                                                        <div class="list-fields__item-side">
                                                                            {{ form_label(form.house) }}
                                                                        </div>
                                                                        <div class="list-fields__item-main selectus_dark">
                                                                            <label class="field field_dark">
                                                                                {{ form_widget(form.house, {'attr' : {'class': 'field__input'}}) }}
                                                                                {{ form_errors(form.house) }}
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="list-fields__list-item">
                                                                    <div class="list-fields__item">
                                                                        <div class="list-fields__item-side">
                                                                            <div class="list-fields__item-title">
                                                                                {{ form_label(form.flat) }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="list-fields__item-main selectus_dark">
                                                                            <label class="field field_dark">
                                                                                {{ form_widget(form.flat, {'attr' : {'class': 'field__input'}}) }}
                                                                                {{ form_errors(form.flat) }}
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="profile-list__item">
                                                        <div class="list-fields list-fields_row_small list-fields_2x">
                                                            <div class="list-fields__list">
                                                                <div class="list-fields__list-item">
                                                                    <div class="list-fields__item">
                                                                        <div class="list-fields__item-side">
                                                                            <div class="list-fields__item-title">
                                                                                {{ form_label(form.delivery) }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="list-fields__item-main selectus_dark">
                                                                            <label class="field field_dark">
                                                                                {{ form_widget(form.delivery, {'attr' : {'class': 'selectus', 'js-selectus': ''}}) }}
                                                                                {{ form_errors(form.delivery) }}
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="cart-control__cols-side">
                                        <div class="cart-list">
                                            <div class="cart-quick is-init">
                                                <div class="cart-quick__wrapper">
                                                    <div js-scroll-content class="cart-quick__body">
                                                        <div class="cart-quick__main">
                                                            <div class="cart-quick__list">
                                                                {% for product in cart.products %}
                                                                    <div class="cart-quick__list-item">
                                                                        <div class="product-row is-static">
                                                                            <div class="product-row__wrapper">
                                                                                <div class="product-row__main">
                                                                                    <div class="product-row__main-wrapper">
                                                                                        <div class="product-row__pic">
                                                                                            <img class="product-row__pic-img"
                                                                                                 src="{{ product.image }}">
                                                                                        </div>
                                                                                        <div class="product-row__info">
                                                                                            <div class="product-row__info-major">
                                                                                                <div class="product-row__info-wrapper">
                                                                                                    <div class="product-row__info-main">
                                                                                                        <div class="product-row__info-title">
                                                                                                            {{ product.count }}
                                                                                                            шт. {{ product.name }}
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="product-row__info-minor">
                                                                                                <div class="product-row__cols">
                                                                                                    <div class="product-row__cols-list">
                                                                                                        <div class="product-row__cols-item">
                                                                                                            <div class="product-row__code">
                                                                                                                Артикул: {{ product.code }}
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="product-row__side">
                                                                                    <div class="product-row__price">
                                                                                        <div class="product-row__price-main">
                                                                                            <div class="product-row__sum">
                                                                                                {{ ((product.price * product.count) / 100.0) | number_format(0, '.', ' ') }}
                                                                                                ₽
                                                                                            </div>
                                                                                        </div>
                                                                                        {% if product.oldPrice is defined and product.oldPrice > 0 %}
                                                                                            <div class="product-row__price-side">
                                                                                                <div class="product-row__sum product-row__sum_old">
                                                                                                    {{ ((product.oldPrice * product.count) / 100.0) | number_format(0, '.', ' ') }}
                                                                                                    ₽
                                                                                                </div>
                                                                                            </div>
                                                                                        {% endif %}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cart-quick__footer cart-quick__footer_medium_bg_white">
                                                        <div class="cart-quick__footer-wrapper">
                                                            <div class="cart-quick__footer-main">
                                                                {% set discount = 0 %}
                                                                {% for product in cart.products %}
                                                                    {% if product.oldPrice is null %}
                                                                        {% set discount = discount %}
                                                                    {% else %}
                                                                        {% set discount = discount + ((product.oldPrice - product.price ) * product.count) %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                                {% if discount > 0 %}
                                                                    <div class="cart-quick__total">
                                                                        <div class="cart-quick__total-wrapper">
                                                                            <div class="cart-quick__total-main">
                                                                                <div class="cart-quick__total-caption">
                                                                                    Скидка:
                                                                                </div>
                                                                            </div>
                                                                            <div class="cart-quick__total-side">
                                                                                <div class="cart-quick__total-sum">
                                                                                    {{ (discount /100.0) | number_format(0, '.', ' ') }}
                                                                                    ₽
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                                {% if not app.user %}
                                                                    <div class="cart-quick__message">
                                                                        <div class="cart-quick__message-wrapper">
                                                                            Вы оформляете заказ как розничный
                                                                            покупатель!
                                                                            Если вы являетесь партнером магазина вам
                                                                            необходимо <a href="{{ path('login') }}">Авторизироваться</a>
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                                <div class="cart-quick__total cart-quick__total_bordered">
                                                                    <div class="cart-quick__total-wrapper">
                                                                        <div class="cart-quick__total-main">
                                                                            <div class="cart-quick__total-caption">
                                                                                Итого:
                                                                            </div>
                                                                        </div>
                                                                        <div class="cart-quick__total-side">
                                                                            <div class="cart-quick__total-sum">
                                                                                {% set sum = 0 %}
                                                                                {% for product in cart.products %}
                                                                                    {% set sum = sum + (product.price * product.count) %}
                                                                                {% endfor %}
                                                                                {{ (sum /100.0) | number_format(0, '.', ' ') }}
                                                                                ₽
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="cart-quick__footer-side">
                                                                <button class="button button_full button_large">
                                                                    <span class="button__content">
                                                                        <span class="button__title">Подтвердить заказ</span>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}