{% extends 'base.html.twig' %}
{% block body_mod %}{% endblock %}
{% block body %}
    <div class="sections-list block">
        <div class="sections-list__list block-wrapper">
            <div class="sections-list__list-item">
                <div class="er404">
                    <div class="er404__wrapper">
                        <div class="er404__side">
                            <div class="er404__title">404</div>
                            <div class="er404__img"></div>
                        </div>
                        <div class="er404__main">
                            <div class="er404__desc">
                                Мы не можем найти страницу, которую вы ищете, перейти на <a href="/catalog/" class="modal__link"> главную </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


