<div js-layer-actions class="layer layer_overlay layer_border_full layer_link_small" data-id="main/callback">
    <div class="layer__inside">
        <a js-close-layer class="layer-close" role="button" href="#"></a>
        <div class="layer__header">
            <div class="layer__title">Обратный звонок</div>
        </div>
        <div class="layer__content">
            <form action="{{ path('callback') }}" js-formus method="post" class="formus" novalidate>
                <input type="hidden" js-formus-id name="order">
                <div class="formus__content formus__content_visible sections-list sections-list_row_xsmall">
                    <div class="sections-list__list">
                        <div class="sections-list__item sections-list__item_row-small">
                            <div class="list-fields__item">
                                <div class="list-fields__item-side">
                                    Ваш телефон
                                </div>
                                <div class="list-fields__item-main">
                                    <label js-inputShadow class="field field_dark">
                                        <input js-phonemask data-is-inputmask="true" required type="phone" name="phone" class="field__input">
                                        <span class="field__error"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="sections-list__item sections-list__item_row-small sections-list__item_center">
                            <button class="button button_large" type="submit">
                                <span class="button__content">
                                    <span class="button__title">
                                        Отправить
                                    </span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="formus formus__content formus__content_hidden sections-list sections-list_row_xsmall">
                    <div class="sections-list__list">
                        <div class="sections-list__item sections-list__item_row-small sections-list__item_center">
                            <p class="-align_center">
                                Наши менеджеры свяжутся с Вами в ближайшее время
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
