<div js-overlayer class="layer layer_menu" data-id="main/menu">
    <div class="layer__inside">
        <div class="layer__header">
            <div class="header header_margin-bottom_none">
                <div class="header-main header__main block">
                    <div class="header-main__wrapper block-wrapper">
                        <div class="header-major header-main__major">
                            <div class="header-major__wrapper">
                                <div class="header-major__side">
                                    <a href="/" class="header-major__logo"></a>
                                </div>
                                <div class="header-major__main">
                                    <div class="header-major__cols">
                                        <div class="header-major__cols-item header-major__cols-item_full header-major__cols-item_delimiter">
                                            <div class="header-major__informs">
                                                <div class="header-major__informs-main"></div>
                                                <div class="header-major__informs-side">
                                                    <div class="header-major__actions">
                                                        <div class="header-major__actions-item header-major__actions-item_hidden_m">
                                                            <form js-search-toggle class="header-major__search">
                                                                <label class="header-major__search-wrapper">
                                                                    <input js-search-input type="text" name="q"
                                                                           placeholder="Найти на сайте"
                                                                           class="header-major__search-input">
                                                                    <button js-search-button type="submit"
                                                                            class="header-major__search-btn"></button>
                                                                </label>
                                                            </form>
                                                        </div>
                                                        <div class="header-major__actions-item header-major__actions-item_visible_m">
                                                            <form class="header-major__search">
                                                                <div class="header-major__search-wrapper">
                                                                    <a href="{{ path('search') }}"
                                                                       class="header-major__search-btn"></a>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="header-major__cols-item header-major__cols-item_auto">
                                            <div class="header-major__actions">
                                                <div class="header-major__actions-item header-major__actions-item_cart">
                                                    <div class="header-major__cart">
                                                        <div class="header-major__cart-side"><a href="/order/cart/" class="header-major__cart-toggle"></a></div>
                                                    </div>
                                                </div>
                                                <div class="header-major__actions-item header-major__actions-item_hidden_m">
                                                    <a href="{{ path('profile_orders') }}" class="header-major__profile">
                                            <span class="header-major__profile-caption">
                                                Личный кабинет
                                            </span>
                                                    </a>
                                                </div>
                                                <div class="header-major__actions-item header-major__actions-item_visible_m">
                                                    <a href="{{ path('profile_orders') }}"
                                                       class="header-major__profile header-major__profile_simple"></a>
                                                </div>
                                                <div class="header-major__actions-item">
                                                    <div js-menu-close
                                                         class="header-major__cross"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layer__content">
            <div class="block">
                <div class="block-wrapper">
                    <div class="nav-mobile">
                        <div class="nav-mobile__side">
                            {% if page is defined and page.topMenu is not empty %}
                                <div class="nav-mobile__list">
                                    {% for page in page.topMenu.pages %}
                                        <div class="nav-mobile__list-item">
                                            <a href="{{ path('pages', {slug: page.slug}) }}"
                                               class="nav-mobile__link">{{ page.name }}</a>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="nav-mobile__catalog">
                                <button js-menu-catalog class="button">
                                        <span class="button__content">
                                            <span class="button__title">Каталог товаров</span>
                                        </span>
                                </button>
                            </div>
                        </div>
                        <div class="nav-mobile__main">
                            <div class="nav-mobile__phone">
                                <a href="{{ 'tel:' ~ (page.phone | replace({'-': '',' ': '', '(': '', ')': ''})) }}"
                                   class="header-major__phone">{{ page.phone }}</a>
                            </div>
                            <div class="nav-mobile__socials">
                                <div class="social social_violet">
                                    {% set socials = [
                                        {mod:'facebook', url: (page is defined ? page.facebook : '')},
                                        {mod:'vk', url: (page is defined ? page.vkontakte : '')},
                                        {mod:'ok', url: (page is defined ? page.odnoklasniki : '')},
                                        {mod:'youtube', url: (page is defined  ? page.youtube : '')},
                                        {mod:'instagram', url: (page is defined ? page.instagram : '')}
                                    ] %}
                                    <div class="social__list">
                                        {% for social in socials %}
                                            {% if social.url is not empty %}
                                                <a href="{{ social.url | external_link_filter }}" target="_blank"
                                                   class="social-item social-item_{{ social.mod }} social__list-item"></a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
