<div js-overlayer class="layer layer_menu" data-id="main/catalog">
    <div class="layer__inside">
        <div class="layer__content">
            <div class="block">
                <div class="block-wrapper">
                    {% if page is defined and page.topCategories is not empty %}
                        <div class="nav-catalog">
                            <div class="nav-catalog__side">
                                <div js-menu-catalog-close class="nav-catalog__parent">Назад</div>
                            </div>
                            <div class="nav-catalog__main">
                                <div class="nav-catalog__list">
                                    {% for category in page.topCategories %}
                                        <div class="nav-catalog__list-item">
                                            <div js-nav-toggle class="nav-toggle">
                                                <div js-nav-toggle-action class="nav-toggle__side">
                                                    <div class="nav-toggle__title">
                                                        <div class="nav-toggle__header">
                                                            <div class="nav-toggle__link">
                                                                {{ category.name }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nav-toggle__main">
                                                    <div class="nav-toggle__list">
                                                        <div class="nav-toggle__list-item">
                                                            <a href="{{ path('category', {slug: category.slug}) }}"
                                                               class="nav-toggle__link">
                                                                Все товары
                                                            </a>
                                                        </div>
                                                        {% if  category.childs is not empty %}
                                                            {% for subcategory in category.childs %}
                                                                <div class="nav-toggle__list-item">
                                                                    <div class="nav-toggle__list-item-main"></div>
                                                                    <a href="{{ path('category', {slug: subcategory.slug}) }}"
                                                                       class="nav-toggle__link">
                                                                        {{ subcategory.name }}
                                                                    </a>
                                                                    {% if  subcategory.childs is not empty %}
                                                                        <div class="nav-toggle__list-item-side">
                                                                            <div class="nav-toggle__list-children">
                                                                                {% for subcategory2 in subcategory.childs %}
                                                                                    <div class="nav-toggle__list-children-item">
                                                                                        <div class="nav-toggle__list-children-item-side">
                                                                                            <a href="{{ path('category', {slug: subcategory2.slug}) }}"
                                                                                               class="nav-toggle__list-children-link">
                                                                                                {{ subcategory2.name }}
                                                                                            </a>
                                                                                        </div>
                                                                                        {% if  subcategory2.childs is not empty %}
                                                                                            <div class="nav-toggle__list-children-item-main">
                                                                                                <div class="nav-toggle__list-children-item-list">
                                                                                                    {% for subcategory3 in subcategory2.childs %}
                                                                                                        <div class="nav-toggle__list-children-item-element">
                                                                                                            <a href="{{ path('category', {slug: subcategory3.slug}) }}"
                                                                                                               class="nav-toggle__list-children-item">
                                                                                                                {{ subcategory3.name }}
                                                                                                            </a>
                                                                                                        </div>
                                                                                                    {% endfor %}
                                                                                                </div>
                                                                                            </div>
                                                                                        {% endif %}
                                                                                    </div>
                                                                                {% endfor %}
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
