{% extends 'base.html.twig' %}
{% block body %}
    <div class="profile">
        <div class="profile-header profile__header block">
            <div class="profile-header__wrapper block-wrapper">
                Личный кабинет
            </div>
        </div>
        <div class="profile-body profile__body block">
            <div class="profile-body__wrapper block-wrapper">
                <div class="profile__content">
                    <div class="profile__side">
                        {% set links_top = [
                        {title:'Мои заказы',url: path('profile_orders'), active: active == 'orders'},
                        {title:'Мои данные',url: path('profile_setting'), active: active == 'setting'},
                        ] %}
                        <div class="profile-list profile-list_sidebar">
                            <div class="profile-list__item">
                                <div class="profile-menu">
                                    <div class="profile-menu__list-section">
                                        <div class="profile-menu__section">
                                            <div class="profile-menu__list">
                                                {% for link in links_top %}
                                                    <div class="profile-menu__item {% if link.active %} is-active {% endif %}">
                                                        <a href="{{ link.url }}"
                                                           class="profile-menu__item-link">{{ link.title }}</a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-list__item">
                                <div class="profile-logout">
                                    <a href="/logout" class="profile-logout__link">
                                        Выйти из аккаунта
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile__main">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}