{% extends 'profile/base.html.twig' %}
{% block content %}
    <div class="section-list">
        <div class="section-list__list">
            <div class="section section-list__item">
                <div class="orders">
                    <div class="orders__wrapper">
                        {% if operations is defined and operations is not empty %}
                            {% for operation in operations %}
                                <div class="orders__item">
                                    <div class="orders__title">
                                        № {{ operation.id }} от {{ operation.created | date("d.m.Y") }}
                                    </div>
                                    <div class="orders__groups">
                                        <div class="orders__groups-list">
                                            <div class="orders__groups-item">
                                                <div class="orders__group">
                                                    <div class="orders__group-list">
                                                        <div class="orders__group-item">
                                                            <div class="orders__rows">
                                                                <div class="orders__rows-side">Статус заказа</div>
                                                                <div class="orders__rows-main">{{ operation.operationStateName }}</div>
                                                            </div>
                                                        </div>
                                                        <div class="orders__group-item">
                                                            <div class="orders__rows">
                                                                <div class="orders__rows-side">Статус оплаты</div>
                                                                <div class="orders__rows-main">{{ operation.paymentStateName }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="orders__groups-item">
                                                <div class="orders__group">
                                                    <div class="orders__group-list">
                                                        <div class="orders__group-item">
                                                            <div class="orders__rows">
                                                                <div class="orders__rows-side">Адрес и способ доставки</div>
                                                                <div class="orders__rows-main">
                                                                    {{ operation.region }} {{ operation.city }} {{ operation.street }} {{ operation.house }} {{ operation.flat }} {{ operation.zip }}
                                                                    , {{ operation.delivery }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="orders__group-item">
                                                            <div class="orders__rows">
                                                                <div class="orders__rows-side">Контактные данные</div>
                                                                <div class="orders__rows-main">
                                                                    {{ operation.lastName }} {{ operation.firstName }} {{ operation.secondName }}
                                                                    <br>
                                                                    {{ operation.phone }}, {{ operation.email }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="orders__tables">
                                        <table class="orders-table orders__tables-item">
                                            <thead class="orders-table__thead">
                                            <tr class="orders-table__tr">
                                                <td class="orders-table__td orders-table__td_header orders-table__td_img">
                                                    Изображение
                                                </td>
                                                <td class="orders-table__td orders-table__td_header orders-table__td_name">
                                                    Товар
                                                </td>
                                                <td class="orders-table__td orders-table__td_header orders-table__td_amount">
                                                    Кол-во
                                                </td>
                                                <td class="orders-table__td orders-table__td_header orders-table__td_price">
                                                    Цена
                                                </td>
                                                <td class="orders-table__td orders-table__td_header orders-table__td_price-total">
                                                    Итого
                                                </td>
                                            </tr>
                                            </thead>
                                            <tbody class="orders-table__tbody">
                                            {% for operationProduct in operation.products %}
                                                <tr class="orders-table__tr">
                                                    <td class="orders-table__td orders-table__td_mobile_none_border">
                                                        <div class="orders-table__row orders-table__row_mobile_single">
                                                            <div class="orders-table__row-side">
                                                                Изображение
                                                            </div>
                                                            <div class="orders-table__row-main">
                                                                {% if operationProduct.product.image starts with 'http' %}
                                                                    <img class="orders-table__img"
                                                                         src="{{ operationProduct.product.image }}"
                                                                         title="{{ operationProduct.product.name }}"
                                                                         alt="{{ operationProduct.product.name }}">
                                                                {% else %}
                                                                    <img class="orders-table__img"
                                                                         src="{{ (operationProduct.product.image == empty_image ? empty_image_product : operationProduct.product.image) | imagine_filter('product_cart_thumb') }}"
                                                                         title="{{ operationProduct.product.name }}"
                                                                         alt="{{ operationProduct.product.name }}">
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="orders-table__td orders-table__td_mobile_none_border">
                                                        <div class="orders-table__row orders-table__row_mobile_single">
                                                            <div class="orders-table__row-side">
                                                                Товар
                                                            </div>
                                                            <div class="orders-table__row-main">
                                                                {% if operationProduct.product.enabled %}
                                                                    <a href="{{ path('product', {slug: operationProduct.product.slug}) }}">
                                                                        {{ operationProduct.product.name }}
                                                                    </a>
                                                                {% else %}
                                                                    {{ operationProduct.product.name }}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="orders-table__td">
                                                        <div class="orders-table__row">
                                                            <div class="orders-table__row-side">
                                                                Кол-во
                                                            </div>
                                                            <div class="orders-table__row-main">
                                                                {{ operationProduct.quantity }}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="orders-table__td">
                                                        <div class="orders-table__row">
                                                            <div class="orders-table__row-side">
                                                                Цена
                                                            </div>
                                                            <div class="orders-table__row-main">
                                                                {{ (operationProduct.price / 100.0) | number_format(0, '.', ' ') }}
                                                                ₽
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="orders-table__td">
                                                        <div class="orders-table__row">
                                                            <div class="orders-table__row-side">
                                                                Итого
                                                            </div>
                                                            <div class="orders-table__row-main">
                                                                {{ ((operationProduct.price * operationProduct.quantity) / 100.0) | number_format(0, '.', ' ') }}
                                                                ₽
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="orders__columns orders__columns_borderd">
                                        <div class="orders__columns-main">Сумма</div>
                                        <div class="orders__columns-side orders__columns-side_large">{{ (operation.amount / 100.0) | number_format(0, '.', ' ') }}
                                            ₽
                                        </div>
                                    </div>
                                    <div class="orders__columns">
                                        <div class="orders__columns-main">Доставка</div>
                                        <div class="orders__columns-side orders__columns-side_large">{{ (operation.amountDelivery / 100.0) | number_format(0, '.', ' ') }}
                                            ₽
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="orders__item">
                                Здесь будет отображаться список ваших покупок
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
