{% extends 'profile/base.html.twig' %}
{% block content %}
    {{ form_start(form, {'attr': {'class': 'profile-list profile-list_bordered'}}) }}
    <div class="profile-list">
        <div class="profile-list__list">
            {% if message is defined and message is not empty %}
                <div class="profile-list__item">
                    <div class="alert alert_green">
                        <div class="alert__wrapper">
                            {{ message }}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="profile-list__item">
                <div class="list-fields list-fields_row_small list-fields_2x">
                    <div class="list-fields__list">
                        <div class="list-fields__list-item">
                            <div class="list-fields__item">
                                <div class="list-fields__item-side">
                                    <div class="list-fields__item-title">
                                        {{ form_label(form.lastName) }}
                                    </div>
                                </div>
                                <div class="list-fields__item-main selectus_dark">
                                    <label class="field field_dark">
                                        {{ form_widget(form.lastName, {'attr' : {'class': 'field__input'}}) }}
                                        {{ form_errors(form.lastName) }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="list-fields__list-item">
                            <div class="list-fields__item">
                                <div class="list-fields__item-side">
                                    {{ form_label(form.firstName) }}
                                </div>
                                <div class="list-fields__item-main selectus_dark">
                                    <label class="field field_dark">
                                        {{ form_widget(form.firstName, {'attr' : {'class': 'field__input'}}) }}
                                        {{ form_errors(form.firstName) }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="list-fields__list-item">
                            <div class="list-fields__item">
                                <div class="list-fields__item-side">
                                    <div class="list-fields__item-title">
                                        {{ form_label(form.secondName) }}
                                    </div>
                                </div>
                                <div class="list-fields__item-main selectus_dark">
                                    <label class="field field_dark">
                                        {{ form_widget(form.secondName, {'attr' : {'class': 'field__input'}}) }}
                                        {{ form_errors(form.secondName) }}
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="profile-list__item">
                <div class="profile-list__item-main">
                    <div class="list-fields list-fields_row_small list-fields_2x">
                        <div class="list-fields__list">
                            <div class="list-fields__list-item">
                                <div class="list-fields__item">
                                    <div class="list-fields__item-side">
                                        {{ form_label(form.email) }} (Не редактируется)
                                    </div>
                                    <div class="list-fields__item-main selectus_dark">
                                        <label class="field field_dark is-disabled">
                                            {{ form_widget(form.email, {'attr' : {'class': 'field__input'}}) }}
                                            {{ form_errors(form.email) }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="list-fields__list-item">
                                <div class="list-fields__item">
                                    <div class="list-fields__item-side">
                                        {{ form_label(form.phone) }}
                                    </div>
                                    <div class="list-fields__item-main">
                                        <label js-inputShadow class="field field_dark">
                                            {{ form_widget(form.phone, {'attr' : {'class': 'field__input'}, 'type': 'phone'}) }}
                                            {{ form_errors(form.phone) }}
                                            <span class="field__error"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-list__item">
                <div class="list-fields list-fields_row_small list-fields_2x">
                    <div class="list-fields__list">
                        <div class="list-fields__list-item">
                            <div class="list-fields__item">
                                <div class="list-fields__item-side">
                                    {{ form_label(form.plainPassword.first) }}
                                </div>
                                <div class="list-fields__item-main selectus_dark">
                                    <label class="field field_dark">
                                        {{ form_widget(form.plainPassword.first, {'attr' : {'class': 'field__input', 'autocomplete': 'off'}}) }}
                                        {{ form_errors(form.plainPassword.first) }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="list-fields__list-item">
                            <div class="list-fields__item">
                                <div class="list-fields__item-side">
                                    {{ form_label(form.plainPassword.second) }}
                                </div>
                                <div class="list-fields__item-main selectus_dark">
                                    <label class="field field_dark">
                                        {{ form_widget(form.plainPassword.second, {'attr' : {'class': 'field__input', 'autocomplete': 'off'}}) }}
                                        {{ form_errors(form.plainPassword.second) }}
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="profile-list__item">
                <button class="button button_large">
                <span class="button__content">
                    <span class="button__title">Сохранить</span>
                </span>
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}