.button::-moz-focus-inner {
   padding 0
   border 0
}

$button,
.button {
   cursor pointer
   user-select none
   display block
   box-sizing border-box
   vertical-align top
   display inline-block
   transition .3s ease transform
   position relative
   padding 0
   border 0
   border-radius 0
   outline none
   background none
   font-family $font-main
   font-style normal
   font-weight 400
   font-size $size-main
   line-height $line-main
   letter-spacing 0
   text-align center
   text-transform none
   text-decoration none
   input {
      pointer-events none
      opacity 0
      position absolute
      top 0
      left 0
   }
   &__icon {
      flex 0 0 auto
      display flex
      align-items center
      justify-content center
      position relative
      margin-right 10px
      &::before {
         content ''
         transition opacity $transition-fast
         opacity 1
         flex 0 0 auto
         display block
      }
      &::after {
         content ''
         transition opacity $transition-fast
         transition-delay .025s
         opacity 0
         flex 0 0 auto
         position absolute
      // top 0
      // left 0
      }
   }
   &__content {
      transition $transition-fast
      box-sizing border-box
      display flex
      align-items center
      justify-content center
      position relative
      padding 0 36px
      border-radius 25px
      flex 0 0 auto
      outline none
      border 2px solid $color-violet
      color $color-white
      background-color $color-violet
   }
   &__title {
      padding 6px 0 6px
   }

   input:checked ~ &__content {
      color $color-white
      border-color $color-blue
      background-color $color-blue
   }

   &.is-hover,
   &:hover {
      .button__content {
         background-color: $color-white
         color $color-violet
      }
   }
   &.is-active,
   &:active {
      transform translateY(3px)
      .button__content {
         border-color $color-violet
         color $color-white
         background-color $color-violet
      }
   }
   &.is-disabled,
   &:disabled {
      pointer-events none
      border 0 !important
      background none !important

      .button__content {
         color $color-white !important
         border-color $color-grey !important
         box-shadow none !important
         background-image none !important
         background-color $color-grey !important
      }
   }

   &.is-loading {
      opacity .5
   }
}

.button_outline {
   .button {
      &__content {
         box-shadow none
         background rgba(white, 0)
         color white
         border 2px solid white
      }
   }
   &:hover {
      & .button__content {
         opacity 1
         box-shadow none
         background $color-hover
         color white
         border 2px solid $color-hover
      }
   }
}

.button_full {
   width 100%
}

+do(750) {
   .button_xs_full {
      width 100%
   }
}

.button_arrow_right {
   .button {
      &__content {
         padding-left 0
         padding-right 0
         background rgba(white, 0)
         box-shadow none
         border-color rgba(white, 0)
      }
      &__title {
         color #979CA6
         position relative
         padding-right 20px
         &:before {
            content ''
            position absolute
            right 0
            top 50%
            display block
            transform translateY(-50%)
            svg('arrow-right-small', 14px, #979CA6)
            margin-top 0
         }
      }
   }
   &:hover {
      & .button__content {
         background rgba(white, 0)
         border-color rgba(white, 0)
         box-shadow none
         opacity 0.8
      }
   }
}

.button_arrow_left {
   .button {
      &__content {
         padding-left 0
         padding-right 0
         background rgba(white, 0)
         box-shadow none
         border-color rgba(white, 0)
      }
      &__title {
         color #979CA6
         position relative
         padding-left 20px
         &:before {
            content ''
            position absolute
            left 0
            top 50%
            display block
            transform translateY(-50%) rotate(180deg)
            svg('arrow-right-small', 14px, #979CA6)
            margin-top -1px
         }
      }
   }
   &:hover {
      & .button__content {
         background rgba(white, 0)
         border-color rgba(white, 0)
         box-shadow none
         opacity 0.8
      }
   }
}

.button_padding_none {
   .button {
      &__content {
         padding 0
      }
   }
}

+do(750) {
   .button_font-size_small_s {
      .button {
         &__title {
            font-size 14px
         }
      }
   }
}

.button_white {
   .button {
      &__content {
         background rgba(white, 0)
         border-color white
         box-shadow none
      }
      &__title {
      }
   }
   &:hover {
      & .button__content {
         opacity 1
         box-shadow none
         background white
         color black
         border 2px solid white
      }
   }
}

.button.is-load {
   pointer-events none
   .button {
      &__content {
         position relative
         border-color rgba(white, 0)
         &:before {
            content ''
            size 50px
            box-sizing border-box
            border-left 4px solid white
            border-right 4px solid rgba(white, 0)
            border-top 4px solid white
            border-bottom 4px solid white
            border-radius 50%
            animation rotate 1s linear infinite
         }
      }
      &__title {
         display none
      }
   }
   /.ie & {
   }
}

+do(1200) {
   .button.is-load {
      pointer-events none
      &:hover {
         .button {
            &__content {
               position relative
               background black
            }
         }
      }
   }
}

.button_catalog {
   .button {
      &__title {

      }
      &__content {
         position relative
         padding-left: 60px;
         padding-right: 30px;
         &:before {
            content ''
            display block
            position absolute
            left 20px
            top 50%
            transform translateY(-50%)
            svg('menu-small', 20px, white)
         }
      }
   }
   &:hover {
      .button {
         &__content {
            border-color white
            background-color white
            &:before {
               svg-color('menu-small', $color-violet)
            }
         }
         &__title {
            color $color-violet
         }
      }
   }
   &.is-open {
      .button {
         &__content {
            background white
            border-color white
            color $color-violet
            &:before {
               svg('cross-simple', 16px, $color-violet)
            }
         }
      }
   }
}

.button_small {
   .button {
      &__content {
         padding 0 22px
      }
   }
}

.button_cart {
   .button {
      &__content {
         background-color white
         border-color #AEB1BD
         border-width 1px
      }
      &__title {
         &:before {
            content ''
            display block
            svg('cart', 20px, $color-violet)
         }
      }
   }
   &:hover {
      .button {
         &__content {
            border-color $color-violet
            background $color-violet
         }
         &__title {
            &:before {
               svg-color('cart', $color-white)
            }
         }
      }
   }
}

.button_cart_added {
   .button {
      &__content {
         background-color $color-violet
         border-color $color-violet
         border-width 1px
      }
      &__title {
         &:before {
            content ''
            display block
            svg('check', 26px, $color-white)
         }
      }
   }
   &:hover {
      .button {
         &__content {
            background-color white
            border-color #AEB1BD
         }
         &__title {
            &:before {
               svg-color('check', $color-violet)
            }
         }
      }
   }
}

.button_outline_black {
   .button {
      &__content {
         background-color black
         border-color #0F186A
      }
      &__title {
         color white
      }
   }
   &:hover {
      .button {
         &__content {
            background-color white
            border-color #0F186A
         }
         &__title {
            color black
         }
      }
   }
}

.button_large {
   .button {
      &__content {
         padding 0 50px
      }
      &__title {
         padding 12px 0
      }
   }
}