button, input, optgroup, select, textarea
   color  inherit
   font   inherit
   margin 0

button
   overflow visible

button, select
   text-transform none

button, html input[type='button'], input[type='reset'], input[type='submit']
   cursor pointer
   -webkit-appearance button

button[disabled], html input[disabled]
   cursor default

button::-moz-focus-inner, input::-moz-focus-inner
   border  0
   padding 0

input
   line-height normal

input[type='checkbox'], input[type='radio']
   box-sizing border-box
   padding    0

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button
   height auto

input[type='search']
   -webkit-appearance  textfield

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration
   -webkit-appearance none

textarea
   overflow auto
   resize none

optgroup
   font-weight bold

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
input[type='search'],
input[type='url'],
select,
textarea{
   width 100%
   box-sizing border-box
   &::-ms-clear {
      display none
   }
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill {
   //color $color-main !important
   //background-color transparent !important
   -webkit-box-shadow: inset 0 0 0 50px transparent !important; /* Цвет фона */
   -webkit-text-fill-color: $color-main !important; /* цвет текста */
   color: $color-main !important; /* цвет текста */
}

input[type='text'] {
   appearance none
   outline none
   // +placeholder(){
   //    color $color-grey-light
   // }
}

input[type='number'],
input[type='email'],
input[type='tel'],
input[type='search'],
input[type='url'],
input[type=password],
textarea {
   @extend input[type='text']
}

input:-webkit-autofill {
   color $color-main !important
   background-color transparent !important
}

input {
   &:focus {
      outline none
   }
}
