.-xs-visible,
.-s-visible,
.-m-visible {
   display none
}
.-is-lock {
   pointer-events none
}
+do(1200) {
   .-m-visible {
      display block
   }
}

+do(1000) {
   .-s-visible {
      display block
   }
}
+do(750) {
   .-xs-visible {
      display block
   }
}

+do(1000) {
   .-s-hidden {
      display none
   }
}

+do(1200) {
   .-m-hidden {
      display none
   }
}

+do(750) {
   .-xs-hidden {
      display none
   }
}


.-stretch-right_small {
   margin-right -30px
}

+do(1200) {
   .-stretch-right_small {
      margin-right -20px
   }
}

+do(1000) {
   .-stretch-right_small {
      margin-right 0
   }
}
.-row-gap_small {
   margin-bottom 30px
}

.-row-gap_medium {
   margin-bottom 30px
}

.-row-gap_large {
   margin-bottom 90px
}

.-row-gap_xxlarge {
   margin-bottom 160px
}


+do(1000) {
   .-row-gap_medium_s {
      margin-bottom 60px
   }
}

+do(1000) {
   .-row-gap_small_s {
      margin-bottom 30px
   }
}
+do(1000) {
   .-row-gap_none_s {
      margin-bottom 0
   }
}

+do(750) {
   .-row-gap_xsmall_xs {
      margin-bottom 15px
   }
}

.-align_right {
   text-align right
}
.-align_center {
   text-align center
}
.-font-size_large {
   font-size 18px
}
.-is-loaded {
   animation loading 3s infinite alternate-reverse
   pointer-events none
   @keyframes loading {
      0% {
         opacity 1
      }
      50% {
         opacity 0.5
      }
      100% {
         opacity 1
      }
   }
}