.title,
$title {
   font-family $font-title
}

h1,
.title-h1,
$title-h1 {
   @extend $title
   font-family $font-arimo
   font-size 44px
   line-height (42/40)
   font-weight 700
}

+do(1200) {
   h1,
   .title-h1,
   $title-h1 {
      font-size 36px
      line-height 1.2
   }
}

+do(1000) {
   h1,
   .title-h1,
   $title-h1 {
      font-size 24px
      line-height 1.2
   }
}
+do(1000) {
   h1,
   .title-h1,
   $title-h1 {
      font-size 22px
      line-height 1.2
   }
}


h2,
.title-h2,
$title-h2 {
   @extend $title
   font-weight 700
   font-size
   font-size 26px
   line-height 1.5
}

h3,
.title-h3,
$title-h3 {
   @extend $title
   margin-bottom 24px
   font-size 24px
   line-height 1.5
   p + & {
      margin-top 34px
   }
}

h4,
.title-h4,
$title-h4 {
   @extend $title
   margin-bottom 24px
   font-size 20px
   line-height 1.5
   p + & {
      margin-top 34px
   }
}

h5,
.title-h5,
$title-h5 {
   @extend $title
   font-size 18px
   line-height 1.5
}
