$paragraph
,
table,
blockquote,
ol,
ul,
p {
   margin-bottom 30px
   &:last-child {
      margin-bottom 0
   }
}

img {
   max-width 100%
}

i, em {
   font-style italic
}

b, strong {
   font-weight 700
}

.link,
a {
   transition $transition-fast
   text-decoration none
   color $color-link
   &:hover,
   &:active {
      color $color-hover
      text-decoration none
   }
}

.link_violet {
   color $color-violet
   border-bottom 1px solid $color-violet

}

.link-bordered {
   border-bottom 1px solid $color-violet
   &:hover {
      border-bottom 1px solid rgba(white, 0)
   }
}

a[href^='tel:'] {
   border-bottom-width 0
   white-space nowrap
   text-decoration none
}

ol {
   counter-reset nums
   list-style none
   li {
      counter-increment nums
      list-style-type none
      position relative
      margin-bottom 31px
      padding-left 27px
      &::before {
         content counter(nums) '.'
         position absolute
         left 0
         color $color-blue
      }
      &:last-child {
         margin-bottom 0
      }
   }
}

ul {
   li {
      position relative
      margin-bottom 20px
      padding-left 27px
      font-weight 500
      &::before {
         content ''
         display block
         position absolute
         left 0
         top 50%
         transform translateY(-50%)
         size 5px
         background-color $color-blue
      }
      &:last-child {
         margin-bottom 0
      }
   }
}

.display-none {
   display none
}

table {
   font-size 14px
   border-bottom 1px solid rgba(15, 24, 106, 0.2)
   border-collapse collapse
   margin 0
   padding 0
   color #000
   width 100%
   p {
      margin-bottom 0
   }
}

thead {
   border-bottom 1px solid rgba(15, 24, 106, 0.2)
   background-color $color-violet
   color white
   th {
      font-weight 500
   }
}

tr {
   &:nth-child(2n) {
      background-color rgba(15, 24, 106, 0.03)
   }
}

th,
td {
   box-sizing border-box
   position relative
   padding 10px 14px 10px
}

+do(750) {
   th,
   td {
      padding 8px 10px 9px
   }
}

* {
   min-height 0
   min-width 0
}

.content-info {
   font-size 14px
   text-align center
   &__link {
      color $color-blue
      &:hover {
         opacity .8
      }
   }
}

.orange {
   color $color-blue
}

.zoomImg {
   background-color white
}

.table-box {
   overflow auto
}

.link {
}

.table-property {
   width 100%
   td {
      width 50%
   }
}