<!DOCTYPE html>
<html>
<head>
    {% set assets = '01' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    {% if page is defined and page.keyword %}
        <meta name="keywords" content="{{ page.keyword }}"/>
    {% endif %}
    {% if page is defined and page.description %}
        <meta name="description" content="{{ page.description }}"/>
    {% endif %}
    <link rel="icon" type="image/png" href="/images/headphones.png?{{ assets }}" id="favicon">
    <link rel="apple-touch-icon" href="/images/headphones.svg?{{ assets }}"/>
    <link rel="apple-touch-icon-precomposed" type="image/svg" href="/images/headphones.svg?{{ assets }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>{% block title %}{% if page is defined %}{{ page.title }}{% endif %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/vendor.css') }}?{{ assets }}">
        <link rel="stylesheet" href="{{ asset('css/common.css') }}?{{ assets }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    {% endblock %}
    {% block canonical %}{% endblock %}

</head>
<body class="body {% block body_mod %}{% endblock %}">
<div class="body__wrapper">
    <div class="body__main" id="app">
        <div class="body__header">
            {% block header %}
                {% include 'common/header.html.twig' %}
            {% endblock %}
        </div>
        <div class="body__content">
            {% block body %}{% endblock %}
        </div>
        <div class="body__footer">
            {% block footer %}
                {% include 'common/footer.html.twig' %}
            {% endblock %}
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('js/vendor.js') }}?{{ assets }}"></script>
    <script src="{{ asset('js/common.js') }}?{{ assets }}"></script>
{% endblock %}

<script>
  app.start()
</script>

{% include 'layers/menu.twig' %}
{% include 'layers/menu-catalog.twig' %}
{% include 'layers/callback.twig' %}
</body>
</html>
