<?xml version="1.0" encoding="UTF-8" ?>
<urlset xmlns="http://sitemaps.org/schemas/sitemap/0.9"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
>
    {% for url in urls %}
        <url>
            {# check if hostname is not already in url #}
            <loc>{% if url.loc|replace({hostname:''}) == url.loc %}http://{{ hostname }}{{ url.loc }}{% else %}{{ url.loc }}{% endif %}</loc>
            {% if url.lastmod is defined %}
                <lastmod>{{ url.lastmod }}</lastmod>
            {% endif %}
            {% if url.changefreq is defined %}
                <changefreq>{{ url.changefreq }}</changefreq>
            {% endif %}
            {% if url.priority is defined %}
                <priority>{{ url.priority }}</priority>
            {% endif %}
        </url>
    {% endfor %}
</urlset>