{% if slider is defined and slider is not empty %}
    <div js-billboards class="billboards">
        <div js-billboards-slider class="billboards__slider">
            {% if slider | length > 1 %}
                <div class="billboards__slider-additional block">
                    <div class="billboards__slider-box block-wrapper">
                        <div js-billboards-slider-nav class="billboards__slider-nav"></div>
                        <div js-billboards-slider-dots class="billboards__slider-dots"></div>
                    </div>
                </div>
            {% endif %}
            <div js-billboards-slider-list class="billboards__slider-list">
                {% for slide in slider %}
                    <div class="billboards__slider-item">
                        {#{{ slide.title }}#}
                        {#{% if slide.description is not empty %}#}
                            {#{{ slide.description }}#}
                        {#{% endif %}#}
                        <a href="{{ slide.url }}" class="billboards__slider-img"
                           style="background-image: url({{ slider_img_path ~ '/' ~ slide.image }})">
                            <img src="{{ slider_img_path ~ '/' ~ slide.image }}" alt="">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}