{% extends 'base.html.twig' %}
{% block body_mod %}is-index{% endblock %}
{% block body %}
    <div class="sections-list block">
        <div class="sections-list__list block-wrapper">
            <div class="section section_billboard sections-list__list-item">
                {% include 'billboard/billboard.html.twig' %}
            </div>
            {% if page is defined and page.topCategories is not empty %}
                {% for category in page.topCategories %}
                    {% if category.childs is not empty %}
                        <div class="section section_category {% if loop.last %}section_last-category{% endif %} sections-list__list-item">
                            <div class="section__wrapper">
                                <div class="section__side">
                                    <div class="header-box">
                                        <div class="header-box__wrapper">
                                            <div class="header-box__main">
                                                <h2 class="header-box__title">
                                                    {{ category.name }}
                                                </h2>
                                            </div>
                                            <div class="header-box__side">
                                                <a href="{{ path('category', {slug: category.slug}) }}"
                                                   class="button button_arrow_right">
                                                <span class="button__content">
                                                    <span class="button__title">Посмотреть все товары</span>
                                                </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section__main">
                                    {% include 'categories/categories-list.html.twig' with {categories: (category.childs | slice(0, 5)) } %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if promotions is defined and promotions is not empty %}
                <div class="section section_promo sections-list__list-item">
                    <div class="section__wrapper">
                        <div class="section__main">
                            {% include 'articles/articles-list.html.twig' with {articles:promotions} %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if populars is defined and populars is not empty %}
                <div class="section section_popular sections-list__list-item">
                    {% include 'products/products-slider.html.twig' with {products:populars, title:'Популярные товары', slug: path('populars')} %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}


