<?xml version="1.0" encoding="UTF-8"?>
<КоммерческаяИнформация xmlns="urn:1C.ru:commerceml_2"
                        ВерсияСхемы="2.07"
                        ДатаФормирования="{{ now }}">
    <Документ>
        <Ид/>
        <Номер>{{ operation.id }}</Номер>
        <Дата>{{ operation.CreatedDate }}</Дата>
        <Время>{{ operation.CreatedTime }}</Время>
        <ХозОперация>Заказ товара</ХозОперация>
        <Роль>Продавец</Роль>
        <Валюта>643</Валюта>
        <Курс>1</Курс>
        <Сумма>{{ (operation.amount / 100.0) | number_format(0, '.', ' ') }}</Сумма>
        <Комментарий/>
        <Контрагенты>
            <Контрагент>
                {% if (operation.user is not empty) %}
                    <Ид>{{ operation.user.id }}</Ид>
                {% endif %}
                <Наименование>
                    {{ operation.lastName }} {{ operation.firstName }} {{ operation.secondName }}
                </Наименование>
                <Роль>Покупатель</Роль>
                <ПолноеНаименование>
                    {{ operation.lastName }} {{ operation.firstName }} {{ operation.secondName }}
                </ПолноеНаименование>
                <Фамилия>{{ operation.lastName }}</Фамилия>
                <Имя>{{ operation.firstName }}</Имя>
                <Отчество>{{ operation.secondName }}</Отчество>
                <АдресРегистрации>
                    <Представление>
                        {{ operation.region }} {{ operation.city }} {{ operation.street }} {{ operation.house }} {{ operation.flat }} {{ operation.zip }}
                    </Представление>
                </АдресРегистрации>
                <Контакты>
                    <Контакт>
                        <Тип>Телефон рабочий</Тип>
                        <Значение>{{ operation.phone }}</Значение>
                    </Контакт>
                    <Контакт>
                        <Тип>Почта</Тип>
                        <Значение>{{ operation.email }}</Значение>
                    </Контакт>
                </Контакты>
            </Контрагент>
        </Контрагенты>
        <Налоги>
            <Налог>
                <Наименование>НДС</Наименование>
                <УчтеноВСумме>false</УчтеноВСумме>
                <Сумма>0</Сумма>
                <Ставка>0</Ставка>
            </Налог>
        </Налоги>
        <Товары>
            {% for operationProduct in operation.products %}
                <Товар>
                    <Ид>{{ operationProduct.product.uuid }}</Ид>
                    <Наименование>{{ operationProduct.product.name }}</Наименование>
                    <ЦенаЗаЕдиницу>{{ (operationProduct.price / 100.0) | number_format(0, '.', ' ') }}</ЦенаЗаЕдиницу>
                    <Количество>{{ operationProduct.count }}</Количество>
                    <Сумма>{{ ((operationProduct.price * operationProduct.count) / 100.0) | number_format(0, '.', ' ') }}</Сумма>
                    <Единица>079</Единица>
                    <Коэффициент>1</Коэффициент>
                    <ЗначенияРеквизитов>
                        <ЗначениеРеквизита>
                            <Наименование>ТипНоменклатуры</Наименование>
                            <Значение/>
                        </ЗначениеРеквизита>
                    </ЗначенияРеквизитов>
                    <СтавкиНалогов>
                        <СтавкаНалога>
                            <Наименование>НДС</Наименование>
                            <Ставка>0</Ставка>
                        </СтавкаНалога>
                    </СтавкиНалогов>
                </Товар>
            {% endfor %}
        </Товары>
        <ЗначенияРеквизитов>
            <ЗначениеРеквизита>
                <Наименование>ПометкаУдаления</Наименование>
                <Значение>false</Значение>
            </ЗначениеРеквизита>
            <ЗначениеРеквизита>
                <Наименование>Проведен</Наименование>
                <Значение>true</Значение>
            </ЗначениеРеквизита>
        </ЗначенияРеквизитов>
    </Документ>
</КоммерческаяИнформация>
