{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if value is not null %}
        <div style="text-align: center;">
            {% if value starts with 'http' %}
                <img src="{{ value }}" style="width: 55px; height: 55px;">
            {% else %}
                <img src="{{ value | imagine_filter('admin_list_thumb') }}">
            {% endif %}
        </div>
    {% endif %}
{% endblock %}