{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    {% if value is not null %}
        {% if value starts with 'http' %}
            <img src="{{ value }}" style="width: 150px; height: 150px;">
        {% else %}
            <img src="{{ value | imagine_filter('admin_form_thumb') }}">
        {% endif %}
    {% endif %}
{% endblock %}