{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    {% if value is not null %}
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Товар</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Итого</th>
                </tr>
                {% set sum = 0 %}
                {% for product in value %}
                    {% set sum = sum + (product.price * product.count) %}
                    <tr>
                        <td> {{ product.product.name }}</td>
                        <td> {{ product.count }} </td>
                        <td> {{ (product.price / 100.0) | number_format(0, '.', ' ') }} </td>
                        <td> {{ ((product.price * product.count) / 100.0) | number_format(0, '.', ' ') }} </td>
                    </tr>
                {% endfor %}
                <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td>{{ (sum / 100.0) | number_format(0, '.', ' ') }}</td>
                </tr>
                </tfoot>
            </table>
        </div>
    {% endif %}
{% endblock %}