{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block form %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#{{ admin.uniqid }}_user_autocomplete_input").on('change', function () {
                var idUser = $(this).val();
                var lastName = $('#{{ admin.uniqid }}_lastName');
                var secondName = $('#{{ admin.uniqid }}_secondName');
                var firstName = $('#{{ admin.uniqid }}_firstName');
                var phone = $('#{{ admin.uniqid }}_phone');
                var email = $('#{{ admin.uniqid }}_email');

                $.ajax({
                    url: '{{ path('admin_api_user') }}',
                    data: 'idUser=' + idUser,
                    success: function (data) {
                        lastName.val(data['lastName']);
                        firstName.val(data['firstName']);
                        secondName.val(data['secondName']);
                        phone.val(data['phone']);
                        email.val(data['email']);
                    }
                });
            });
        });
    </script>
{% endblock %}