{% extends '@SonataAdmin/CRUD/base_list.html.twig' %}
{% block pager_results %}
    <div class="btn-group">
        <a type="button" href="{{ path('yandex_export') }}" class="btn btn-default dropdown-toggle" target="_blank">
            <i class="fa fa-share-square-o" aria-hidden="true"></i>
            Yandex Market
        </a>
    </div>
    {{ parent() }}
{% endblock %}
