<?xml version="1.0" encoding="UTF-8"?>
<yml_catalog date="{{ "now"|date("Y-m-d H:i") }}">
    <shop>
        <name>{{ siteName }}</name>
        <company>{{ companyName }}</company>
        <url>{{ siteUrl }}</url>
        <currencies>
            <currency id="RUR" rate="1"/>
        </currencies>
        <categories>
            {% for category in categories %}
                {% if category.parent is empty %}
                    <category id="{{ category.id }}">{{ category.name }}</category>
                {% else %}
                    <category id="{{ category.id }}" parentId="{{ category.parent.id }}">{{ category.name }}</category>
                {% endif %}
            {% endfor %}
        </categories>
        <offers>
            {% for product in products %}
                <offer id="{{ product.id }}" available="{{ (product.count > 0) ? 'true' :  'true' }}">
                    <name>{{ product.name }}</name>
                    <url>{{ absolute_url(path('product', {'slug': product.slug})) }}</url>
                    <price>{{ (product.price / 100.0) | number_format(2, '.', '') }}</price>
                    {% if product.oldPrice is not empty %}
                        <oldprice>{{ (product.oldPrice / 100.0) | number_format(2, '.', '') }}</oldprice>
                    {% endif %}
                    <currencyId>RUR</currencyId>
                    <categoryId>{{ product.category.id }}</categoryId>
                    <category>{{ product.category.name }}</category>
                    {% if product.vendor is not empty %}
                        <vendor>{{ product.vendor }}</vendor>
                    {% endif %}
                    <picture>{{ absolute_url(product_img_path ~ '/' ~ product.image) }}</picture>
                    <store>{{ (product.count > 0) ? 'true' :  'true' }}</store>
                    <pickup>true</pickup>
                    <delivery>true</delivery>
                    <description><![CDATA[{{ product.content }}]]></description>
                    {% for productAttribute in product.productAttributes %}
                        <param name="{{ productAttribute.attribute.name }}">{{ productAttribute.attributeItem.name }}</param>
                    {% endfor %}
                </offer>
            {% endfor %}
        </offers>
    </shop>
</yml_catalog>