{% extends 'base.html.twig' %}
{% block body %}
    <div class="block">
        <div class="block-wrapper">
            <div class="er404">
                <div class="er404__wrapper">
                    <div class="er404__side">
                        <div class="er404__title">404</div>
                        <div class="er404__img"></div>
                    </div>
                    <div class="er404__main">
                        <div class="er404__desc">
                            Упс! Мы не можем найти страницу, которую вы ищете.<br/>
                            <a href="{{ path('homepage') }}" class="modal__link">
                                На главную
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}