<div class="footer">
    <div class="footer__wrapper">
        <div class="footer__main block">
            <div class="footer__main-wrapper block-wrapper">
                <div class="footer__cols">
                    <div class="footer__cols-item footer__cols-item_logo">
                        <a href="/" class="footer__logo"></a>
                    </div>
                    <div class="footer__cols-item footer__cols-item_nav">
                        <div class="footer__col">
                            <div class="footer__col-side">
                                <div class="footer__col-title">Каталог</div>
                            </div>
                            <div class="footer__col-main">
                                {% if page is defined and page.topCategories is not empty %}
                                    <div class="footer__nav">
                                        <div class="footer__nav-list">
                                            {% for topCategory in page.topCategories %}
                                                <div class="footer__nav-item">
                                                    <a href="{{ path('category', {slug: topCategory.slug}) }}"
                                                       class="footer__nav-link">{{ topCategory.name }}</a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="footer__cols-item footer__cols-item_nav">
                        <div class="footer__col">
                            <div class="footer__col-side">
                                <div class="footer__col-title">О компании</div>
                            </div>
                            <div class="footer__col-main">
                                {% if page is defined and page.bottomMenu is not empty %}
                                    <div class="footer__nav">
                                        <div class="footer__nav-list">
                                            {% for item in page.bottomMenu.pages %}
                                                <div class="footer__nav-item">
                                                    <a href="{{ path('pages', {slug: item.slug}) }}"
                                                       class="footer__nav-link">{{ item.name }}</a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="footer__cols-item footer__cols-item_contacts">
                        <div class="footer__action">
                            <div class="footer__action-side">
                                <div class="footer__contacts">
                                    <div class="footer__contacts-info">
                                        <a href="{{ 'tel:' ~ (page.phone | replace({'-': '',' ': '', '(': '', ')': ''})) }}"
                                           class="footer__phone">{{ page.phone }}</a>
                                    </div>
                                    <div class="footer__contacts-callback">
                                        <button js-callback class="button button_outline_black button_small"><span class="button__content"><span
                                                        class="button__title">Заказать обратный звонок</span></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="footer__action-main">
                                <div class="footer__socials">
                                    <div class="social">
                                        {% set socials = [
                                        {mod:'facebook', url: (page is defined ? page.facebook : '')},
                                        {mod:'vk', url: (page is defined ? page.vkontakte : '')},
                                        {mod:'ok', url: (page is defined ? page.odnoklasniki : '')},
                                        {mod:'youtube', url: (page is defined  ? page.youtube : '')},
                                        {mod:'instagram', url: (page is defined ? page.instagram : '')}
                                        ] %}
                                        <div class="social__list">
                                            {% for social in socials %}
                                                {% if social.url is not empty %}
                                                    <a href="{{ social.url | external_link_filter }}"
                                                       target="_blank"
                                                       class="social-item social-item_{{ social.mod }} social__list-item"></a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__side block">
            <div class="footer__side-wrapper block-wrapper">
                <div class="footer__side-cols">
                    <div class="footer__side-col">
                        {% if page is defined %}
                            <div class="footer__copyright">
                                {% set year = "now"|date("Y") %}
                                © 2018{{ year != '2018' ? ' - ' ~ year : '' }} «{{ page.name }}», все права защищены
                            </div>
                        {% endif %}
                    </div>
                    <div class="footer__side-col">
                        <div class="footer__develop">
                            <a href="http://zeff.agency/" target="_blank" class="footer__develop-link">Разработка сайта
                                — <span
                                        class="company">ZEFF</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>