<header class="header">
    <div class="header-main header__main block">
        <div class="header-main__wrapper block-wrapper">
            <div class="header-major header-main__major">
                <div class="header-major__wrapper">
                    <div class="header-major__side">
                        <a href="{{ path('homepage') }}" class="header-major__logo"></a>
                    </div>
                    <div class="header-major__main">
                        <div class="header-major__cols">
                            <div class="header-major__cols-item header-major__cols-item_full header-major__cols-item_delimiter">
                                <div class="header-major__informs">
                                    <div class="header-major__informs-main">
                                        <div class="header-major__nav">
                                            <div class="header-major__nav-side">
                                                <div class="header-major__nav-catalog">
                                                    <button js-header-catalog-button
                                                            class="button button_catalog button_outline">
                                                <span class="button__content">
                                                    <span class="button__title">Каталог товаров</span>
                                                </span>
                                                    </button>
                                                </div>
                                            </div>
                                            {% if page is defined and page.topMenu is not empty %}
                                                <div class="header-major__nav-main">
                                                    <div class="header-major__nav-list">
                                                        {% for item in page.topMenu.pages %}
                                                            <div class="header-major__nav-item">
                                                                <a href="{{ path('pages', {slug: item.slug}) }}"
                                                                   class="header-major__nav-link">
                                                                    {{ item.name }}
                                                                </a>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="header-major__informs-side">
                                        <div class="header-major__actions">
                                            {% if page is defined and  page.phone %}
                                                <div class="header-major__actions-item header-major__actions-item_right-offset_large header-major__actions-item_hidden_xs">
                                                    <a href="{{ 'tel:' ~ (page.phone | replace({'-': '',' ': '', '(': '', ')': ''})) }}"
                                                       class="header-major__phone">{{ page.phone }}</a>
                                                </div>
                                            {% endif %}
                                            <div class="header-major__actions-item header-major__actions-item_hidden_m">
                                                <form action="{{ path('search') }}" type="get" js-search-toggle
                                                      class="header-major__search">
                                                    <div class="header-major__search-cols">
                                                        <div class="header-major__search-col">
                                                            <div class="header-major__search-caption">
                                                                Поиск
                                                            </div>
                                                        </div>
                                                        <div class="header-major__search-col">
                                                            <label class="header-major__search-wrapper">
                                                                <input js-search-input name="q"
                                                                       placeholder="Найти на сайте"
                                                                       class="header-major__search-input">
                                                                <button js-search-button type="submit"
                                                                        class="header-major__search-btn"></button>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="header-major__actions-item header-major__actions-item_visible_m">
                                                <form class="header-major__search">
                                                    <div class="header-major__search-wrapper">
                                                        <a href="{{ path('search') }}"
                                                           class="header-major__search-btn"></a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-major__cols-item header-major__cols-item_auto">
                                <div class="header-major__actions">
                                    <div class="header-major__actions-item header-major__actions-item_cart">
                                        {% include 'cart/cart-header.html.twig' %}
                                    </div>
                                    <div class="header-major__actions-item header-major__actions-item_hidden_m">
                                        <a href="{{ path('profile_orders') }}" class="header-major__profile">
                                            <span class="header-major__profile-caption">
                                                Мой профиль
                                            </span>
                                        </a>
                                    </div>
                                    <div class="header-major__actions-item header-major__actions-item_visible_m">
                                        <a href="{{ path('profile_orders') }}"
                                           class="header-major__profile header-major__profile_simple"></a>
                                    </div>
                                    <div class="header-major__actions-item header-major__actions-item_visible_m">
                                        <div js-header-menu class="header-major__menu"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if page is defined and page.topCategories is not empty %}
        <div js-header-catalog class="header-side header__side block">
            <div class="header-side__wrapper block-wrapper">
                <div class="header-minor header-main__minor">
                    <div class="header-minor__wrapper">
                        <div class="header-minor__side">
                            <div class="header-minor__categories">
                                <div class="header-minor__categories-list">
                                    {% for category in page.topCategories %}
                                        <div js-category-nav-header data-target="{{ loop.index }}"
                                             class="header-minor__category {% if loop.index == 1 %} is-active {% endif %}">
                                            <div class="header-minor__category-wrapper">
                                                <div class="header-minor__category-side">
                                                    {% if category.navImage is not empty %}
                                                        <img src="{{ (category.navImage) | imagine_filter('category_nav_thumb') }}"
                                                             class="header-minor__category-img" alt="">
                                                    {% endif %}
                                                </div>
                                                <div class="header-minor__category-main">
                                                    <a href="{{ path('category', {slug: category.slug}) }}"
                                                       class="header-minor__category-link">{{ category.name }} </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="header-minor__main">
                            <div class="header-minor__subcategories">
                                {% for category in page.topCategories %}
                                    <div js-subcategories-list-header data-target="{{ loop.index }}"
                                         class="header-minor__subcategories-list {% if loop.index == 1 %}is-active {% endif %}">
                                        {% for subcategory in category.childs %}
                                            <div class="header-minor__subcategories-item">
                                                <a href="{{ path('category', {slug: subcategory.slug}) }}"
                                                   class="header-minor__subcategories-link">{{ subcategory.name }}</a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</header>