{% extends 'base.html.twig' %}
{% block body_mod %}{% endblock %}
{% block body %}
    <div class="sections-list block">
        <div class="sections-list__list block-wrapper">
            {% if breadcrumbs is defined and breadcrumbs is not empty %}
                <div class="section section_breadcrumbs sections-list__list-item">
                    {% include 'modules/breadcrumbs.html.twig' with {links:breadcrumbs} %}
                </div>
            {% endif %}
            <div class="section sections-list__list-item">
                <div class="products">
                    <div class="products__wrapper block-wrapper">
                        <div class="products__major">
                            <div class="products__major-wrapper">
                                <div class="products__major-main">
                                    <div class="products__header">
                                        <h1 class="products__title">
                                            Популярные товары
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="products__minor products__minor_simple">
                            <div class="products__minor-wrapper">
                                <div class="products__minor-main">
                                    <div class="products__main">
                                        {% if populars is defined and populars is not empty %}
                                            {% include 'products/products-grid.html.twig' with {products: populars, view:4} %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


