<div class="cards-list cards-list_4x">
    <div class="cards-list__list">
        {% for product in products %}
            <div class="cards-list__list-item">
                {% include 'products/product-card.html.twig' with {product:product} %}
            </div>
        {% endfor %}
    </div>
</div>