<div js-products-slider class="products-slider section">
    <div class="section__wrapper products-slider__wrapper">
        <div class="section__side">
            <div class="header-box">
                <div class="header-box__wrapper">
                    <div class="header-box__main">
                        <h2 class="header-box__title">
                            {{ title }}
                        </h2>
                    </div>
                    <div class="header-box__side">
                        <div class="header-box__cols">
                            <div class="header-box__cols-list">
                                {% if slug is defined and products is not empty %}
                                    <div class="header-box__cols-item">
                                        <a href="{{ slug }}" class="button button_arrow_right">
                                            <span class="button__content">
                                                <span class="button__title">Посмотреть все товары</span>
                                            </span>
                                        </a>
                                    </div>
                                {% endif %}
                                <div class="header-box__cols-item header-box__cols-item_nav">
                                    <div js-products-slider-nav class="products-slider__nav"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section__main">
            <div js-products-slider-list class="products-slider__list">
                {% for product in products %}
                    <div class="products-slider__list-item">
                        {% include 'products/product-card.html.twig' with {product:product} %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>