<div class="grid-list {{ ' grid-list_' ~ view  ~ 'x' }}">
    <div class="grid-list__list">
        {% for product in products %}
            <div class="grid-list__list-item">
                {% include 'products/product-card.html.twig' with {product:product} %}
            </div>
        {% endfor %}
    </div>
</div>