{% extends 'base.html.twig' %}
{% block body_mod %}{% endblock %}
{% block body %}
    <div class="sections-list block" itemscope itemtype="http://schema.org/Product">
        <div class="sections-list__list block-wrapper">
            {% if breadcrumbs is defined and breadcrumbs is not empty %}
                <div class="section section_breadcrumbs sections-list__list-item">
                    {% include 'modules/breadcrumbs.html.twig' with {links:breadcrumbs} %}
                </div>
            {% endif %}
            <div class="section sections-list__list-item">
                <div class="product">
                    <div class="product__wrapper block-wrapper">
                        <div class="product__major">
                            <div class="product__major-wrapper">
                                <div class="product__side">
                                    <div class="product__header product__header_mobile_visible">
                                        <h1 itemprop="name" class="product__title">
                                            {{ product.name }}
                                        </h1>
                                        {% if vendor is not empty %}
                                            <div class="product__subtitle">
                                                {{ vendor.name }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="product__gallery">
                                        <div class="product__gallery-wrapper">
                                            <div class="product__gallery-main">
                                                <div js-product-slider class="product__slider">
                                                    <div js-product-slider-list class="product__slider-list">
                                                        {% for image in images %}
                                                            <a itemprop="image"
                                                               href="{{ product_img_path ~ '/' ~ image.image }}"
                                                               data-fancybox="main"
                                                               class="product__slider-item">
                                                                {% if image.image starts with 'http' %}
                                                                    <img src="{{ image.image }}"
                                                                         alt="{{ image.alt }}"
                                                                         title="{{ image.title }}">
                                                                {% else %}
                                                                    <img src="{{ (image.image == empty_image ? empty_image_product : image.image)| imagine_filter('product_view_thumb') }}"
                                                                         alt="{{ image.alt }}"
                                                                         title="{{ image.title }}">
                                                                {% endif %}
                                                            </a>
                                                        {% endfor %}
                                                    </div>
                                                    <div js-product-slider-nav class="product__slider-nav"></div>
                                                </div>
                                            </div>
                                            <div class="product__gallery-side">
                                                <div class="product__previews">
                                                    <div class="product__previews-list">
                                                        {% for preview in images %}
                                                            <div js-product-previews-item data-pos="{{ loop.index }}"
                                                                 class="product__previews-item {% if loop.first %} is-active {% endif %}">
                                                                <div class="product__previews-img">
                                                                    {% if preview.image starts with 'http' %}
                                                                        <img src="{{ preview.image }}"
                                                                             style="width: 55px; height: 55px;"
                                                                             alt="{{ preview.alt }}"
                                                                             title="{{ preview.title }}">
                                                                    {% else %}
                                                                        <img src="{{ (preview.image == empty_image ? empty_image_product : preview.image) | imagine_filter('product_cart_thumb') }}"
                                                                             alt="{{ preview.alt }}"
                                                                             title="{{ preview.title }}">
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product__main">
                                    <div class="product__content">
                                        <div class="product__header product__header_mobile_hidden">
                                            <h1 class="product__title">
                                                {{ product.name }}
                                            </h1>
                                            {% if vendor is not empty %}
                                                <div class="product__subtitle">
                                                    {{ vendor.name }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer"
                                             class="product__informs">
                                            <div class="product__informs-wrapper">
                                                <div class="product__informs-main">
                                                    <div class="product__informs-list">
                                                        <meta itemprop="price"
                                                              content="{{ (product.price / 100.0) | number_format(2, '.', '') }}">
                                                        <meta itemprop="priceCurrency" content="RUB">
                                                        <div class="product__informs-item">
                                                            <div class="product__price">
                                                                <div class="product__price-main">
                                                                    <div class="product__price-title">
                                                                        {{ (product.price / 100.0) | number_format(0, '.', ' ') }}
                                                                        ₽
                                                                    </div>
                                                                </div>
                                                                <div class="product__price-side">
                                                                    <div class="product__price-desc">
                                                                        Цена
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% if product.OldPrice is not null %}
                                                            <div class="product__informs-item">
                                                                <div class="product__price product__price_wholesale">
                                                                    <div class="product__price-main">
                                                                        <div class="product__price-title">
                                                                            {{ (product.OldPrice / 100.0) | number_format(0, '.', ' ') }}
                                                                            ₽
                                                                        </div>
                                                                    </div>
                                                                    <div class="product__price-side">
                                                                        <div class="product__price-desc">
                                                                            Старая цена
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="product__informs-side">
                                                    <div class="product__availability {{ product.count <= 0 ? 'product__availability_sold_out' : '' }}">
                                                        <div class="product__availability-side">
                                                            <div class="product__availability-title">
                                                                {% if product.count > 0 %}
                                                                    В наличии {{ product.count <=5 ? product.count : '' }}
                                                                    <link itemprop="availability"
                                                                          href="http://schema.org/InStock">
                                                                {% else %}
                                                                    {{ product.stockName }}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="product__availability-main">
                                                            <div class="product__availability-subtitle">
                                                                Артикул: {{ product.code }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if product.count > 0 %}
                                            <div class="product__actions">
                                                <div class="product__buttons">
                                                    {% set counter = {
                                                        id: product.id,
                                                        added: product.added
                                                    } %}
                                                    {% include 'products/product-counter.html.twig' with { data:counter | json_encode, mod:'is-large', btn:{title:'Купить',mod:''}, amount:{mod:'is-large'} } %}

                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product__minor">
                            <div class="product__minor-wrapper">
                                {% set showContent = product.content is not empty %}
                                {% if showContent or attributes is not empty %}
                                    <div js-product-tab class="product-tab product__tabs">
                                        <div class="product-tab__side">
                                            <div class="product-tab__headers">
                                                <div class="product-tab__headers-list">
                                                    {% if showContent %}
                                                        <div class="product-tab__headers-item">
                                                            <div js-product-tab-title data-target="1"
                                                                 class="product-tab__title is-active">
                                                                Описание товара
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    {% if attributes is not empty %}
                                                        <div class="product-tab__headers-item">
                                                            <div js-product-tab-title
                                                                 data-target="{{ showContent ? 2 : 1 }}"
                                                                 class="product-tab__title">
                                                                Характеристики
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-tab__main">
                                            <div class="product-tab__pages">
                                                {% if showContent %}
                                                    <div itemprop="description" js-product-tab-page data-target="1"
                                                         class="product-tab__pages-item is-open">
                                                        {% autoescape false %}
                                                            {{ product.content }}
                                                        {% endautoescape %}
                                                    </div>
                                                {% endif %}
                                                {% if attributes is not empty %}
                                                    <div js-product-tab-page data-target="{{ showContent ? 2 : 1 }}"
                                                         class="product-tab__pages-item {{ showContent ? '' : 'is-open' }}">
                                                        <div class="table-box">
                                                            <table class="table-property">
                                                                <thead>
                                                                <tr>
                                                                    <td>Название</td>
                                                                    <td>Характерстика</td>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for attribute in attributes %}
                                                                    <tr>
                                                                        <td>{{ attribute.name }}</td>
                                                                        <td>{{ attribute.value }}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if recommended is not empty %}
                                    <div class="product__additional">
                                        {% include 'products/products-slider.html.twig' with {products:recommended, title:'С этим товаром покупают'} %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


