{% extends 'base.html.twig' %}
{% block body_mod %}{% endblock %}
{% block body %}
    <div class="sections-list block">
        <div class="sections-list__list block-wrapper">
            {% if breadcrumbs is defined and breadcrumbs is not empty %}
                <div class="section section_breadcrumbs sections-list__list-item">
                    {% include 'modules/breadcrumbs.html.twig' with {links:breadcrumbs} %}
                </div>
            {% endif %}
            <div class="section sections-list__list-item">
                <div class="products">
                    <div class="products__wrapper block-wrapper">
                        <div class="products__major">
                            <div class="products__major-wrapper">
                                <div class="products__major-main">
                                    <div class="products__header">
                                        <h1 class="products__title">
                                            {{ name }}
                                        </h1>
                                    </div>
                                </div>
                                <div class="products__major-side">
                                    <div js-products-filter-toggle class="filter-toggle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="products__minor">
                            <div class="products__minor-wrapper">
                                <div class="products__minor-side">
                                    <div class="products-categories">
                                        <div class="products-categories__wrapper">
                                            <div class="products-categories__list">
                                                {% for category in page.topCategories %}
                                                    {% set active = (category.id in activeCategories) %}
                                                    <div class="products-categories__list-item">
                                                        <div class="products-categories__item">
                                                            <div class="products-categories__item-side">
                                                                <div class="products-categories__parent {% if active %} is-active {% endif %}">
                                                                    <a href="{{ path('category', {'slug': category.slug}) }}"
                                                                       class="products-categories__parent-link">
                                                                        {{ category.name }}
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            {% if category.childs is defined and active %}
                                                                <div class="products-categories__item-main">
                                                                    <div class="products-categories__children">
                                                                        <div class="products-categories__children-list">
                                                                            {% for subcategory in category.childs %}
                                                                                {% set active2 = (subcategory.id in activeCategories) %}
                                                                                <div class="products-categories__children-item {% if active2 %} is-active {% endif %}">
                                                                                    <div class="products-categories__children-item-main">
                                                                                        <a href="{{ path('category', {'slug': subcategory.slug}) }}"
                                                                                           class="products-categories__children-link">
                                                                                            {{ subcategory.name }}
                                                                                        </a>
                                                                                    </div>
                                                                                    {% if subcategory.childs is defined and active2 %}
                                                                                        <div class="products-categories__children-item-side">
                                                                                            <div class="products-categories__children-list">
                                                                                                {% for subcategory2 in subcategory.childs %}
                                                                                                    {% set active3 = (subcategory2.id in activeCategories) %}
                                                                                                    <div class="products-categories__children-element ">
                                                                                                        <div class="products-categories__children-element-side {% if active3 %} is-active {% endif %}">
                                                                                                            <a href="{{ path('category', {'slug': subcategory2.slug}) }}"
                                                                                                               class="products-categories__children-element-link">
                                                                                                                {{ subcategory2.name }}
                                                                                                            </a>
                                                                                                        </div>
                                                                                                        {% if subcategory2.childs is defined and active3 %}
                                                                                                            <div class="products-categories__children-element-main">
                                                                                                                {% for subcategory3 in subcategory2.childs %}
                                                                                                                    {% set active4 = (subcategory3.id in activeCategories) %}
                                                                                                                    <div class="products-categories__children-element-item {% if active4 %} is-active {% endif %}">
                                                                                                                        <a href="{{ path('category', {'slug': subcategory3.slug}) }}"
                                                                                                                           class="products-categories__children-element-link">
                                                                                                                            {{ subcategory3.name }}
                                                                                                                        </a>
                                                                                                                    </div>
                                                                                                                {% endfor %}
                                                                                                            </div>
                                                                                                        {% endif %}
                                                                                                    </div>
                                                                                                {% endfor %}
                                                                                            </div>
                                                                                        </div>
                                                                                    {% endif %}
                                                                                </div>
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    {% if activeCategory.price is not empty %}
                                        <div class="products-price">
                                            <a href="{{ category_price_path ~ '/' ~ activeCategory.price }}"
                                               class="button" target="_blank">
                                            <span class="button__content">
                                                <span class="button__title">
                                                    Скачать прайс-лист
                                                </span>
                                            </span>
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="products__minor-main">
                                    <div class="products__side">
                                        <div js-products-filter class="products-filter">
                                            <div class="products-filter__box">
                                                <form action="#" class="products-filter__wrapper">
                                                    <div class="products-filter__main">
                                                        <div class="products-filter__list">
                                                            <div class="products-filter__list-item">
                                                                {% set sorting = [
                                                                    {title:'По возрастанию цены', value:'1'},
                                                                    {title:'По убыванию цены', value:'2'},
                                                                    {title:'По алфавиту', value:'3'},
                                                                    {title:'По умолчанию', value:'4'},
                                                                ] %}
                                                                <select js-selectus class="selectus" name="sort">
                                                                    {% for sort in sorting %}
                                                                        <option value="{{ sort.value }}"
                                                                                {% if sort.value == currentSort %} selected {% endif %}>{{ sort.title }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            {% if vendors is not empty %}
                                                                <div class="products-filter__list-item">
                                                                    <select js-selectus class="selectus"
                                                                            data-title="Бренд"
                                                                            data-prefix="Выбрано"
                                                                            data-count="true"
                                                                            data-field-clear="true"
                                                                            multiple
                                                                            name="vendor[]">
                                                                        {% for vendor in vendors %}
                                                                            <option value="{{ vendor.id }}" {% if vendor.id in selectedVendors %} selected {% endif %}>
                                                                                {{ vendor.name }}
                                                                            </option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            {% endif %}
                                                            {% if prices is not empty %}
                                                                <div class="products-filter__list-item">
                                                                    <div js-selectusPrice
                                                                         class="selectus selectus_range"
                                                                         data-prefix="Цена" data-title="Цена"
                                                                         data-count="true">
                                                                        <div js-selectusPrice-range js-fieldRange
                                                                             class="field-range">
                                                                            {% spaceless %}
                                                                                <div class="field-range__range">
                                                                                    <input js-fieldRange-input
                                                                                           type="hidden"
                                                                                           name="price"
                                                                                           data-min="{{ prices.min }}"
                                                                                           data-max="{{ prices.max }}"
                                                                                           data-from="{{ minPrice }}"
                                                                                           data-to="{{ maxPrice }}">
                                                                                </div>
                                                                                <div class="field-range__data">
                                                                                    <div js-fieldRange-from
                                                                                         class="field-range__data-min">
                                                                                        {{ minPrice }}
                                                                                    </div>
                                                                                    <div class="field-range__data-separator"></div>
                                                                                    <div js-fieldRange-to
                                                                                         class="field-range__data-max">
                                                                                        {{ maxPrice }}
                                                                                    </div>
                                                                                    <div class="field-range__data-currency">
                                                                                        рублей
                                                                                    </div>
                                                                                </div>
                                                                            {% endspaceless %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="products-filter__side">
                                                        <div class="products-filter__btns">
                                                            <button class="button">
                                                            <span class="button__content">
                                                                <span class="button__title">Подобрать</span>
                                                            </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="products__main">
                                        {% include 'products/products-grid.html.twig' with {products: products, view:4} %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="products__additional">
                            {% if activeCategory.price is not empty %}
                                <div class="products__price-list">
                                    <a href="{{ category_price_path ~ '/' ~ activeCategory.price }}" class="button">
                                    <span class="button__content">
                                        <span class="button__title">
                                            Скачать прайс-лист
                                        </span>
                                    </span>
                                    </a>
                                </div>
                            {% endif %}
                            {% if lastPage > 1 %}
                                <div class="products__pagination">
                                    <div class="products__pagination-wrapper">
                                        <div class="products__pagination-main">
                                            {% include 'modules/pagination.html.twig'
                                                with {
                                                currentPage: currentPage,
                                                lastPage: lastPage,
                                                link: paginatorLink
                                            } %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if activeCategory.content is not empty %}
                                <div class="products__info">
                                    {% include 'modules/additional-info.html.twig'
                                        with {
                                        info: activeCategory.content,
                                    } %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


