<a href="{{ path('product', {slug: product.slug}) }}" js-product-card class="product-card">
    <div class="product-card__wrapper">
        <div class="product-card__main">
            {% if product.discount > 0 %}
                <div class="product-card__badges">
                    <div class="product-card__badges-list">
                        <div class="product-card__badges-item">
                            <div class="product-card__discount">
                                <div class="product-card__discount-caption">{{ '-' ~ product.discount ~ '%' }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="product-card__pic">
                {% if product.image starts with 'http' %}
                    <img src="{{ product.image }}" class="product-card__pic-img"
                         alt="{{ product.name }}" title="{{ product.name }}">
                {% else %}
                    <img src="{{ (product.image == empty_image ? empty_image_product : product.image) | imagine_filter('product_list_thumb') }}"
                         class="product-card__pic-img"
                         alt="{{ product.name }}" title="{{ product.name }}">
                {% endif %}
            </div>
            <h3 class="product-card__title" title="{{ product.name }}">
                {{ product.name }}
            </h3>
            <div class="product-card__info">
                <div class="product-card__info-list">
                    <div class="product-card__info-item">
                        <div class="product-card__code">
                            {{ product.code }}
                        </div>
                    </div>
                    <div class="product-card__info-item">
                        <div class="product-card__availability {{ product.available ? '' : 'product-card__availability_sold-out' }}">
                            {{ product.available ? 'В наличии' : product.stockName }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-card__side">
            <div class="product-card__actions">
                <div class="product-card__actions-list">
                    <div class="product-card__actions-item">
                        <div class="product-card__prices {{ product.price >= 100000 ? 'product-card__prices_large-sum' : '' }}">
                            <div class="product-card__price">
                                <span class="product-card__price-sum">
                                    {{ (product.price / 100.0) | number_format(0, '.', ' ') ~ ' ₽' }}
                                </span>
                            </div>
                            {% if product.oldPrice is defined and product.oldPrice > 0 %}
                                <div class="product-card__price">
                                    <span class="product-card__price-sum product-card__price-sum_old">
                                        {{ (product.oldPrice / 100.0) | number_format(0, '.', ' ') ~ ' ₽' }}
                                    </span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if product.available %}
                        <div class="product-card__actions-item">
                            <div class="product-card__buttons">
                                {% set counter = {
                                    id:product.id,
                                    added:true
                                } %}
                                {% include 'products/product-counter.html.twig' with { data:counter | json_encode, btn:{title:'',mod:'button_cart button_small'} } %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</a>