<product-counter :product="{{ data }}" inline-template xmlns:v-on="http://www.w3.org/1999/xhtml"
                 xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div js-product-counter class="product-counter {{ mod is defined ? mod : '' }}" :class="{'is-init':init}">
        <div class="product-counter__actions">
            <div v-if="added" class="product-counter__actions-cart">
                <div class="product-amount {{ amount.mod is defined ? amount.mod : '' }}">
                    <div class="product-amount__wrapper">
                        <div class="product-amount__left">
                            <button @click.prevent="decrement"
                                    class="product-amount__action product-amount__action_decrement"></button>
                        </div>
                        <div class="product-amount__middle">
                            <input @blur="setInCart" type="number" class="product-amount__value" min="1" max="999"
                                   v-model="amount">
                        </div>
                        <div class="product-amount__right">
                            <button @click.prevent="increment"
                                    class="product-amount__action product-amount__action_increment"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else class="product-counter__actions-add">
                <button @click.prevent="addInCart" class="button {{ btn.mod }}"><span class="button__content"><span
                                class="button__title">{{ btn.title }}</span></span></button>
            </div>
        </div>
    </div>
</product-counter>
