{% extends 'base.html.twig' %}
{% block body_mod %}{% endblock %}
{% block body %}
    <div class="sections-list block">
        <div class="sections-list__list block-wrapper">
            {% if breadcrumbs is defined and breadcrumbs is not empty %}
                <div class="section section_breadcrumbs sections-list__list-item">
                    {% include 'modules/breadcrumbs.html.twig' with {links:breadcrumbs} %}
                </div>
            {% endif %}
            <div class="section sections-list__list-item">
                <div class="products">
                    <div class="products__wrapper block-wrapper">
                        <div class="products__major">
                            <div class="products__major-wrapper">
                                <div class="products__major-main">
                                    <div class="products__header">
                                        <h1 class="products__title">
                                            Поиск
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="products__minor products__minor_simple">
                            <div class="products__minor-wrapper">
                                <div class="products__minor-main">
                                    <div class="products__side">
                                        <form action="{{ path('search') }}" class="search-box">
                                            <div class="search-box__wrapper">
                                                <div class="search-box__main">
                                                    <input class="search-box__input" name="q" required
                                                           value="{{ query }}">
                                                </div>
                                                <div class="search-box__side">
                                                    <button class="search-box__btn"></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="products__main">
                                        {% if foundProducts is defined and foundProducts is not empty %}
                                            {% include 'products/products-grid.html.twig' with {products: foundProducts, view:4} %}
                                        {% else %}
                                            Ничего не найдено
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


