<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr>
        <td bgcolor="#ffffff" align="center" style="padding:15px">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:500px" class="m_3903719722486537322responsive-table">
                <tbody>
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td align="center" style="font-size:22px;font-family:Helvetica,Arial,sans-serif;color:#333333;padding-top:30px" class="m_3903719722486537322padding-copy">Ваш заказ № {{ operation.id }} от {{ operation.created | date("d.m.Y") }} оформлен
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="padding:20px 0 0 0;font-size:16px;line-height:25px;font-family:Helvetica,Arial,sans-serif;color:#666666" class="m_3903719722486537322padding-copy"> После оплаты Ваш заказ будет передан в службу доставки</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff" align="center" style="padding:15px" class="m_3903719722486537322padding">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:500px" class="m_3903719722486537322responsive-table">
                <tbody>
                {% for operationProduct in operation.products %}
                    <tr>
                        <td style="padding:10px 0 0 0;border-top:1px dashed #aaaaaa">
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tbody>
                                <tr>
                                    <td valign="top" class="m_3903719722486537322mobile-wrapper">
                                        <table cellpadding="0" cellspacing="0" border="0" width="46%" style="width:46%" align="left">
                                            <tbody>
                                            <tr>
                                                <td style="padding:0 0 10px 0">
                                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                        <tbody>
                                                        <tr>
                                                            <td align="left" style="font-family:Arial,sans-serif;color:#333333;font-size:12px"> {{ operationProduct.product.name }}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width:47%" align="right">
                                            <tbody>
                                            <tr>
                                                <td style="padding:0 0 10px 0">
                                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                        <tbody>
                                                        <tr>
                                                            <td align="right" style="font-family:Arial,sans-serif;color:#333333;font-size:12px;padding:0 5px 0 0">{{ (operationProduct.price / 100.0) | number_format(0, '.', ' ') }}&nbsp;руб.&nbsp;х&nbsp;{{ operationProduct.count }}&nbsp;шт.</td>
                                                            <td align="right" style="font-family:Arial,sans-serif;color:#333333;font-size:12px;padding:0 5px 0 0">{{ ((operationProduct.price * operationProduct.count) / 100.0) | number_format(0, '.', ' ') }}&nbsp;руб.</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td style="padding:10px 0 0px 0;border-top:1px solid #eaeaea;border-bottom:1px dashed #aaaaaa">
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody>
                            <tr>
                                <td valign="top" class="m_3903719722486537322mobile-wrapper">
                                    <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width:47%" align="left">
                                        <tbody>
                                        <tr>
                                            <td style="padding:0 0 10px 0">
                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td align="left" style="font-family:Arial,sans-serif;color:#333333;font-size:16px;font-weight:bold">Итого</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table cellpadding="0" cellspacing="0" border="0" width="47%" style="width:47%" align="right">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td align="right" style="font-family:Arial,sans-serif;color:#7ca230;font-size:16px;font-weight:bold">{{ (operation.amount / 100.0) | number_format(0, '.', ' ') }} руб.</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff" align="center" style="padding:15px">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:500px" class="m_3903719722486537322responsive-table">
                <tbody>
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            <td align="left"
                                                style="padding:0px 0px 20px 0px;font-family:Arial,sans-serif;line-height:24px;color:#333333;font-size:12px">
                                                <b>Способ доставки: </b>{{ operation.delivery }}
                                                <br><b>Получатель: </b> {{ operation.lastName }} {{ operation.firstName }} {{ operation.secondName }}
                                                ({{ operation.email }} {{ operation.phone }})
                                                <br><b>Адрес доставки: </b>{{ operation.region }} {{ operation.city }} {{ operation.street }} {{ operation.house }} {{ operation.flat }} {{ operation.zip }}<br></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>