.additional-info {
   font-size 14px
   line-height (20 / 14)
   line-height
   color #979CA6
   &__wrapper {
      display inline-block
      columns 2
      column-gap 50px
   }
}

+do(750) {
   .additional-info {
      &__wrapper {
         display block
         columns 1
         column-gap 0
      }
   }
}