.alert {
   display inline-block
   overflow hidden
   border-radius 25px
   font-size 18px
   font-weight 500
   &__wrapper {
      padding 11px 30px 11px 30px
      background #ffcdd2
      color #e91e63
   }
   &_green {
      & ^[0]__wrapper {
         background #66bb6a
         color white
      }
   }
}