.article-card {
   background-position center
   background-repeat no-repeat
   background-size cover
   display flex
   flex-direction column
   min-height 310px
   box-sizing border-box
   padding 25px
   flex 1
   overflow hidden
   border-radius 6px
   box-shadow 0 0 0 rgba(#0B1427, 0)
   position relative
   color white
   &:before {
      content ''
      display block
      pointer-events none
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      transition .3s ease
      background rgba(white, 0)
   }
   &__more {
      position relative
      margin-top auto
      display none
      &-caption {
         padding-right 20px
         position relative
         display inline-block
         &:before {
            content ''
            display block
            position absolute
            right 0
            top 50%
            transform translateY(-50%)
            svg('arrow-right', 6px, white)
         }
      }
   }
}

+do(1200, 'miw') {
   .article-card {
      &:active,
      &:hover {
         text-decoration none
         color white
         box-shadow 0 30px 50px rgba(#0B1427, 0.15)
         & ^[0]__more {
            display block
         }
         &:before {
            background-color rgba($color-violet, 0.95)
         }
      }
      &:active {
         box-shadow 0 40px 55px rgba(#0B1427, 0)
         &:before {
            background-color rgba($color-violet, 1)
         }
      }
   }
}

+do(750) {
   .article-card {
      min-height 220px
   }
}

.article {
   &__major {
      border-bottom: 1px solid #e8e9ed;
      padding-bottom: 21px;
      margin-bottom: 31px;
   }
   &__minor {
   }
   &__content {
      max-width 100%
      overflow hidden
      text-overflow ellipsis
   }
   &__additional {
      padding-top 75px
   }
   img {
      display block
      max-width 100%
   }
}

+do(1200) {
   .article {
      &__additional {
         padding-top 55px
      }
   }

}

+do(750) {
   .article {
      &__additional {
         padding-top 28px
      }
   }

}