.billboards {
   position relative
   &:before {
      content ''
      position absolute
      left -100vw
      right -100vw
      height 38px
      background-color $color-violet
      display block
   }
   &__slider {
      position relative
      z-index 9
      &-img {
         background-position center
         background-size cover
         background-repeat no-repeat
         border none
         text-decoration none
         transition none
         display block
         img {
            opacity 0
            display block
            max-height 300px
         }
      }
      &-item {
         display none
         &:first-child {
            display block
         }
      }
      &-additional {
         position absolute
         top 0
         left 0
         right 0
         bottom 0
         display flex
      }
      &-box {
         flex 1 1 100%
         display flex
         flex-direction column
         box-sizing border-box
         padding-bottom 25px
         position relative
         opacity 0
         transform translateY(30px)
         transition .3s ease
         z-index 9
         pointer-events none
      }
      &-nav {
         position absolute
         z-index 9
         top 50%
         transform translateY(-50%)
         left 0
         right 0
         pointer-events none
         display flex
         justify-content space-between
      }
      &-dots {
         margin-top auto
         position relative
         z-index 9
         display flex
         margin-right -5px
         margin-left -5px
      }
   }
   .owl-dot {
      padding 0
      size 10px
      border-radius 50%
      outline none
      background-color rgba(white, 0.3)
      margin-right 5px
      margin-left 5px
      flex 0 0 auto
      display block
      border none
      transition .3s ease background-color
      pointer-events auto
      &.active {
         background-color rgba(white, 1)
      }
      &:hover {
         background-color rgba(white, 0.8)
      }
   }
   .owl-prev,
   .owl-next {
      size 50px
      display block
      border-radius 50%
      outline none
      border none
      cursor pointer
      pointer-events auto
      background-color rgba(254, 254, 254, 0.15)
      position relative
      transition .3s ease opacity
      &:before {
         content ''
         position absolute
         display block
         left 50%
         top 50%
         transform translate(-50%, -50%)
      }
      &:hover {
         opacity 0.8
      }
      &:active {
         opacity 0.5
      }
   }
   .owl-prev {
      &:before {
         svg('arrow-left', 11px, white)
      }
   }
   .owl-next {
      &:before {
         svg('arrow-right', 11px, white)
      }
   }
}

.billboards.is-init {
   .billboards {
      &__slider {
         &-box {
            opacity 1
            transform translateY(0)
         }
      }
   }
}

+do(1200) {
   .billboards {
      &__slider {
         &-nav {
            display none
         }
         &-box {
            padding-bottom 30px
         }
      }
   }
}
+do(750) {
   .billboards {
      margin-left -20px
      margin-right -20px
      &__slider {
         &-list {

         }
         &-box {
            padding-bottom 15px
         }
      }
   }
}