.breadcrumbs {
   font-size 14px
   line-height 1
   color #979CA6
   &__list {
      display flex
      margin-right -6px
      margin-left -6px
      &-item {
         margin-right 6px
         margin-left 6px
         padding-right 24px
         box-sizing border-box
         position relative
         &:before {
            content '—'
            position absolute
            right 0
            top 50%
            transform translateY(-50%)
            display block
         }
         &:last-child {
            padding-right 0
            pointer-events none
            &:before {
               display none
            }
         }
      }
   }
   &__link {
      color currentColor
   }
}

+do(1200) {
   .breadcrumbs {
      &__list {
         &-item {
            display none
            &:nth-last-child(2) {
               display block
               padding-right 0
               padding-left 12px
               &:before {
                  content ''
                  left 0
                  margin-top -1px
                  svg('arrow-left', 6px, #979CA6)
               }
            }
         }
      }
   }
}
