.cards-list {
   &__list {
      &-item {
         display flex
      }
   }
}


.cards-list_2x {
   .cards-list {
      &__list {
         display flex
         margin-right: -10px
         margin-left: -10px
         margin-bottom -20px
         flex-wrap wrap
         &-item {
            flex 1
            max-width calc(50% - 20px)
            flex-basis calc(50% - 20px)
            margin-right: 10px
            margin-left: 10px
            margin-bottom 20px
         }
      }
   }
}
+do(750) {
   .cards-list_2x {
      .cards-list {
         &__list {
            display block
            &-item {
               max-width calc(100% - 20px)
            }
         }
      }
   }
}


.cards-list_3x {
   .cards-list {
      &__list {
         display flex
         margin-right: -10px
         margin-left: -10px
         margin-bottom -20px
         flex-wrap wrap
         &-item {
            flex 1
            max-width calc(33.33% - 20px)
            flex-basis calc(33.33% - 20px)
            margin-right: 10px
            margin-left: 10px
            margin-bottom 20px
         }
      }
   }
}
+do(1000) {
   .cards-list_3x {
      overflow-x scroll
      -webkit-overflow-scrolling touch
      margin-right -30px
      margin-left -30px
      padding-left 30px
      padding-bottom 20px
      .cards-list {
         &__list {
            margin-bottom 0
            flex-wrap nowrap
            &:after {
               content ''
               flex 0 0 auto
               width 20px
               display block
            }
            &-item {
               flex 0 0 auto
               width 250px
               max-width none
               margin-bottom 0

            }
         }
      }
   }
}

.cards-list_4x {
   .cards-list {
      &__list {
         display flex
         margin-right: -10px
         margin-left: -10px
         margin-bottom -20px
         flex-wrap wrap
         &-item {
            flex 1
            max-width calc(25% - 20px)
            flex-basis calc(25% - 20px)
            margin-right: 10px
            margin-left: 10px
            margin-bottom 20px
         }
      }
   }
}
+do(1200) {
   .cards-list_4x {
      .cards-list {
         &__list {
            &-item {
               flex 1
               max-width calc(33.33% - 20px)
               flex-basis calc(33.33% - 20px)
            }
         }
      }
   }
}
+do(1000) {
   .cards-list_4x {
      overflow-x scroll
      -webkit-overflow-scrolling touch
      margin-right -20px
      margin-left -20px
      padding-left 20px
      padding-bottom 20px
      padding-top 5px
      .cards-list {
         &__list {
            flex-wrap nowrap
            margin-bottom 0
            &:after {
               content ''
               flex 0 0 auto
               width 20px
               display block
            }
            &-item {
               flex 0 0 auto
               width 300px
               margin-bottom 0
               max-width none

            }
         }
      }
   }
}
+do(750) {
   .cards-list_4x {
      .cards-list {
         &__list {
            &-item {
               width 250px
            }
         }
      }
   }
}
.cards-list_5x {
   .cards-list {
      &__list {
         display flex
         margin-right: -10px
         margin-left: -10px
         margin-bottom -20px
         flex-wrap wrap
         &-item {
            flex 1
            max-width calc(20% - 20px)
            flex-basis calc(20% - 20px)
            margin-right: 10px
            margin-left: 10px
            margin-bottom 20px
         }
      }
   }
}
+do(1200) {
   .cards-list_5x {
      .cards-list {
         &__list {
            &-item {
               flex 1
               max-width calc(33.33% - 20px)
               flex-basis calc(33.33% - 20px)
            }
         }
      }
   }
}
+do(1000) {
   .cards-list_5x {
      overflow-x scroll
      -webkit-overflow-scrolling touch
      margin-right -20px
      margin-left -20px
      padding-left 20px
      padding-bottom 20px
      padding-top 5px
      .cards-list {
         &__list {
            flex-wrap nowrap
            margin-bottom 0
            &:after {
               content ''
               flex 0 0 auto
               width 20px
               display block
            }
            &-item {
               flex 0 0 auto
               width 300px
               margin-bottom 0
               max-width none

            }
         }
      }
   }
}
+do(750) {
   .cards-list_5x {
      .cards-list {
         &__list {
            &-item {
               width 250px
            }
         }
      }
   }
}
