.cart {
}

.cart-control {
   &__major {
      border-bottom: 1px solid #e8e9ed;
      padding-bottom: 21px;
      margin-bottom: 31px;
   }
   &__minor {
   }
   &__table {
   }
   &__cols {
      &-wrapper {
         display flex
         margin-right -25px
         margin-left -25px
      }
      &-main {
         flex 1
         margin-right 25px
         margin-left 25px
      }
      &-side {
         flex 0 0 auto
         margin-right 25px
         margin-left 25px
         width 520px
      }
   }
}

+do(1200) {
   .cart-control {
      &__cols {
         &-wrapper {
            display block
         }
         &-main {
            margin-bottom 60px
         }
         &-side {
            width auto
         }
      }
   }
}

.cart-quick {
   position relative
   &__body {
      max-height 380px
      margin-bottom 25px
      overflow auto
      box-sizing border-box
      padding 0 20px
   }
   &__header {
      margin-bottom 20px
      &-main {
      }
      &-side {
         flex 0 0
      }
   }
   &__major {
      display none
   }
   &__wrapper {
      &:before {
         content ''
         display block
         size 60px
         border-radius 50%
         border 5px solid $color-violet
         box-sizing border-box
         border-left 3px solid rgba(white, 0)
         animation load-static .9s linear infinite
         z-index 15
         margin 0 auto
      }
      margin-bottom 60px
   }
   &__footer {
      background: #F7F7F9
      padding 20px
      &-wrapper {
      }
      &-main {
      }
      &-side {
         box-sizing border-box
         padding-top 27px
      }
      &_medium_bg_white {
      }
   }
   &__title {
      font-size 24px
      font-weight 700
      line-height 1
   }
   &__message {
      font-size 14px
      line-height (20 / 14)
      color #979CA6
      margin-bottom 25px
      &-wrapper {
         max-width 380px
      }
      a {
         color $color-violet
         border-bottom 1px solid $color-violet
      }
   }
   &__total {
      margin-bottom 15px
      font-size 18px
      font-weight 600
      &:last-child {
         margin-bottom 0
      }
      &-wrapper {
         display flex
         flex-wrap wrap
         margin-right -5px
         margin-left -5px
         align-items center
      }
      &-caption {

      }
      &-sum {
         font-size 26px
         line-height 1.2
      }
      &-side {
         margin-right 5px
         margin-left 5px
         flex 0 0 auto
      }
      &-main {
         flex 1
         margin-right 5px
         margin-left 5px
      }
      &_bordered {
         padding-top 25px
         padding-bottom 25px
         box-sizing border-box
         border-top 1px solid #E8E9ED
         border-bottom 1px solid #E8E9ED
      }
   }
   &__list {
      &-item {
         padding-bottom 20px
         padding-top 20px
         border-bottom 1px solid #E8E9ED
         &:first-child {
            padding-top 0
         }
         &:last-child {
            border-bottom 1px solid rgba(white, 0)
            padding-bottom 0
         }
      }
   }
   &.is-empty {
      & ^[0]__body {
         margin-bottom 0
      }
   }
   &.is-lock {
      pointer-events none
      &:before {
         content ''
         display block
         size 60px
         border-radius 50%
         border 5px solid $color-violet
         box-sizing border-box
         border-left 3px solid rgba(white, 0)
         position absolute
         left 50%
         top 50%
         transform translate(-50%, -50%)
         animation load .9s linear infinite
         z-index 15
         opacity 1 !important
      }
      &:after {
         content ''
         display block
         top 0
         left 0
         right 0
         bottom 0
         background: rgba(white, 0.5)
         z-index 5
         position absolute
      }
   }
   &.is-init {
      & ^[0]__wrapper {
         margin-bottom 0
         &:before {
            display none
         }
      }
      & ^[0]__major {
         display block
      }
   }
}

.cart-quick.is-check {
   .cart-quick {
      &__body {
         padding-left 0
         padding-right 0
      }
      &__footer {
         border-top 1px solid #e8e9ed
         background: white
         padding-left 0
         padding-right 0
         &-side {
            display flex
            justify-content flex-end
         }
      }
   }
}

+do(1200) {
   .cart-quick {
      &__footer {
         &_medium_bg_white {
            background white
         }
      }
   }
}

+do(750) {
   .cart-quick {
      &__body {
         padding-right 0
         padding-left 0
      }
      &__footer {
         padding-left 0
         padding-right 0
      }
   }
}

@keyframes load {
   0% {
      transform translateX(-50%) rotate(0)
   }
   100% {
      transform translateX(-50%) rotate(360deg)
   }
}

@keyframes load-static {
   0% {
      transform rotate(0)
   }
   100% {
      transform rotate(360deg)
   }
}

