.category-card {
   text-decoration none
   flex 1
   min-height 198px
   display flex
   padding 20px
   box-sizing border-box
   overflow hidden
   border-radius 10px
   transition .3s ease box-shadow, .3s ease background-color, .3s ease border
   background-size contain
   background-repeat no-repeat
   background-position bottom right
   background-color white
   border 1px solid rgba(white, 0)
   &__wrapper {
      flex 1
      display flex
      flex-direction column
   }
   &__side {
      margin-bottom 15px
   }
   &__img {
      display flex
      min-height 110px
      align-items center
      justify-content center
      img {
         display block
         max-width 100%
      }
   }
   &__main {
      margin-top auto
   }
   &__title {
      text-align center
      font-weight 700
      font-size 16px
      line-height 1.2
      max-height 1.2 * 2em
      overflow hidden
      text-overflow ellipsis
   }
}

+do(1200, 'miw') {
   .category-card {
      &:active,
      &:hover {
         color $color-violet
         & ^[0]__desc {
            display none
         }
         & ^[0]__more {
            display inline-block
         }
      }
      &:hover {
         border 1px solid #E8E9ED
      }
      &:active {
         border 1px solid $color-violet
      }
   }
}

+do(1200) {
   .category-card {
      padding 30px
      box-shadow 0 5px 10px rgba(0, 0, 0, 0.1)
      &__title {
         font-size 24px
         line-height 1.2
         max-height 1.2 * 2em
      }
      &:hover {
         color currentColor
      }
   }
}

+do(750) {
   .category-card {
      min-height 200px
      padding 20px
      &__title {
         font-size 20px
         line-height 1.2
         max-height 1.2 * 2em

      }
   }
}