.checkbox-field {
  & > div {
    display flex
    flex-wrap nowrap
    align-items center
    margin-right -5px
    margin-left -5px
    & > label {
      order 2
      margin-right 5px
      margin-left 5px
      margin-bottom 0
    }
    & > input {
      order 1
      margin-right 5px
      margin-left 5px
      margin-bottom 2px
    }
  }
}