.er404 {
   display flex
   justify-content center
   text-align center
   padding-top 90px
   margin-bottom 40px
   &__wrapper {
   }
   &__title {
      font-size 180px
      font-weight 700
   }
   &__desc {
      font-size 18px
      font-weight 400
   }
   &__cols {
      &-list {
         display flex
         flex-wrap wrap

      }
      &-item {
      }
   }
}

+do(1000) {
   .er404 {
      padding-top 40px
   }
}

+do(750) {
   .er404 {
      padding-top 30px
      &__title {
         font-size 96px
      }
   }
}