.field-range {
   &__data {
      margin-top 18px
      font-size: 16px;
      font-weight: 600;
      &-min {
         flex 1
         display inline
      }
      &-max {
         flex 1
         display inline
      }
      &-separator {
         flex 0 0 auto
         display inline
         &:before {
            content '—'
         }
      }
      &-currency {
         display inline
      }
   }
   &__range {
   // margin-top 22px
   }

   .irs-line {
      height 2px
      background
      border-radius 20px
      background #dadada
   }
   .irs-line-left,
   .irs-line-mid,
   .irs-line-right {
   }
   .irs-bar {
      top 0
      height 100%
      border-radius 20px
      background $color-violet
   }
   .irs-slider {
      box-sizing border-box
      transform translate(0, -50%)
      top 50%
      size 19px
      border 2px solid $color-black-xlight
      border-radius 50%
      background #fff
      cursor pointer
      +hover() {
         border-color $color-violet
      }
      &.from {
         margin-left -1px
         background $color-violet
      }
      &.to {
         margin-left 1px
         background $color-violet
      }
   }
}