.footer {
   color white
   background: #000000
   padding-top 63px
   padding-bottom 40px
   margin-top 94px
   &__cols {
      display flex
      justify-content space-between
      margin-right -15px
      margin-left -15px
      flex-wrap: wrap;
      &-item {
         flex 1
         margin-right 15px
         margin-left 15px
         &_logo {
            max-width 233px
         }
         &_nav {
            max-width 300px
         }
         &_contacts {
            display flex
         }
      }
   }
   &__logo {
      transition .3s ease
      display block
      &:before {
         content ''
         display block
         svg('logo', 160px)
      }
      &:hover {
         opacity 0.8
      }
   }
   &__phone {
      font-size 22px
      line-height 1
      color currentColor
      position relative
      padding-left 20px
      &:before {
         content ''
         position absolute
         left 0
         top 50%
         transform translateY(-50%)
         svg('phone', 12px, #818181)
      }
      &:hover {
         color #818181
      }
   }
   &__col {
      &-title {
         font-weight 700
         font-size 22px
         line-height 1
      }
      &-side {
         margin-bottom 37px
      }
      &-main {
      }
   }
   &__action {
      display flex
      flex-direction column
      flex: 1
      &-main {
         margin-top auto
      }
      &-side {
         margin-bottom 15px
      }
   }
   &__nav {
      color rgba(#FEFEFE, 0.4)
      &-link {
         color currentColor
         &:hover {
            color white
         }
      }
      &-list {
      }
      &-item {
         margin-bottom 24px
         &:last-child {
            margin-bottom 0
         }
      }
   }
   &__contacts {
      &-info {
         margin-bottom 15px
      }
      &-callback {
      }
   }
   &__main {
      margin-bottom 70px
   }
   &__side {
      padding-top 30px
      border-top 1px solid rgba(#DADFE1, 0.10)
      &-cols {
         display flex
         justify-content space-between
         margin-right -5px
         margin-left -5px
         align-items center
      }
      &-col {
         margin-right 5px
         margin-left 5px
      }
   }
   &__develop {
      transition .3s ease
      &-link {
         color currentColor
         &:hover {
            color white
         }
      }
      .company {
         color $color-white
         font-weight 700
      }
      &:hover {
         opacity 0.5
      }
   }
   &__copyright {
      font-size 14px
      color rgba(#979CA6, 0.5)
   }
}

+do(1200) {
   .footer {
      padding-top: 34px;
      padding-bottom: 34px
      margin-top 60px
      &__main {
         margin-bottom 30px
      }
      &__nav {
         &-list {
            display flex
            margin-right -5px
            margin-left -5px
            margin-bottom -10px
         }
         &-item {
            flex 0 0 auto
            margin-right 5px
            margin-left 5px
            margin-bottom 10px

         }
      }
      &__contacts {
         &-info {
            margin-bottom 30px
         }
      }
      &__col {
         &-side {
            margin-bottom 20px
         }
         &-main {
         }
      }
      &__cols {
         display block
         min-height auto
         &-item {
            margin-bottom 30px
            &:last-child {
               margin-bottom 0
            }
            &_logo {
               max-width none
            }
            &_nav {
               max-width none
            }
         }
      }
      &__action {
         display: flex;
         align-items: center;
         flex-direction row
         margin-right -20px
         margin-left -20px
         &-side {
            margin-right 20px
            margin-left 20px
            margin-bottom 0
         }
         &-main {
            margin-right 20px
            margin-left 20px
            margin-top 0
            margin-bottom auto
         }
      }
   }
}

+do(750) {
   .footer {
      padding-top 33px
      padding-bottom 20px
      &__action {
         display block
         &-side {
            margin-bottom 30px
         }
         &-main {
         }
      }
      &__main {
         margin-bottom 20px
      }
      &__side {
         padding-top 20px
         &-cols {
            display block
         }
         &-col {
            margin-bottom 10px
            &:last-child {
               margin-bottom 0
            }
         }
      }
      &__cols {
         &-item {
            margin-bottom: 20px;
            &_logo {
               margin-bottom 36px
            }
         }
      }
      &__socilas {
         display flex
         justify-content center
      }
      &__col {
         &-side {
            margin-bottom 15px
         }
      }
      &__nav {
         overflow-x scroll
         -webkit-overflow-scrolling touch
         margin-left: -20px;
         margin-right: -20px;
         padding-left: 20px;
         padding-bottom 10px
         &-list {
            flex-wrap nowrap
         }
         &-item {
            flex 0 0 auto
         }
      }
   }
}