.formus {
   position relative
   &__content {
      &_visible {
      }
      &_hidden {
         display none
      }
   }
   &.is-load {
      pointer-events none
      opacity 0.8
      &:before {
         content ''
         position absolute
         top 0
         left 0
         right 0
         bottom 0
         display block
         z-index 5
      }
      &:after {
         content ''
         display block
         border-radius 50%
         size 60px
         border 3px solid $color-violet
         border-right 3px solid rgba(white, 0)
         animation rotate-center 1s linear infinite
         position absolute
         left 50%
         top 50%
         z-index 99
      }
      & ^[0]__content {
         opacity 0
      }
   }
   &.is-complete {
      & ^[0]__content {
         &_visible {
            display none
         }
         &_hidden {
            display block
         }
      }
   }
}