.grid-list {
   &__list {
      &-item {
         display flex
      }
   }
}

.grid-list_4x {
   .grid-list {
      &__list {
         display flex
         flex-wrap wrap
         margin-right -6px
         margin-left -6px
         &-item {
            max-width calc(25% - 12px)
            flex-basis calc(25% - 12px)
            margin-right 6px
            margin-left 6px
            margin-bottom 12px
         }
      }
   }
}

+do(1300) {
   .grid-list_4x {
      .grid-list {
         &__list {
            &-item {
               max-width calc(33.33% - 12px)
               flex-basis calc(33.33% - 12px)
            }
         }
      }
   }
}

+do(1200) {
   .grid-list_4x {
      .grid-list {
         &__list {
            &-item {
               max-width calc(50% - 12px)
               flex-basis calc(50% - 12px)
            }
         }
      }
   }
}

+do(1000) {
   .grid-list_4x {
      .grid-list {
         &__list {
            &-item {
               max-width calc(33.33% - 12px)
               flex-basis calc(33.33% - 12px)
            }
         }
      }
   }
}

+do(750) {
   .grid-list_4x {
      .grid-list {
         &__list {
            &-item {
               max-width calc(50% - 12px)
               flex-basis calc(50% - 12px)
            }
         }
      }
   }
}

+do(750) {
   .grid-list_4x {
      .grid-list {
         &__list {
            &-item {
               max-width calc(100% - 12px)
               flex-basis calc(100% - 12px)
            }
         }
      }
   }
}