.header {
   border-bottom 1px solid #3C4486
   background white
   margin-bottom 36px
   &__side {
      position absolute
      left 0
      right 0
      z-index 85
      background white
      box-shadow 0 20px 50px rgba(#06040E, 0.1)
   }
   &_margin-bottom_none {
      margin-bottom 0
   }
   &.is-offset_none {
      margin-bottom 0
   }
   /.is-index & {
      margin-bottom 0
   }
}

+do(750) {
   .header {
      margin-bottom 20px
      &_margin-bottom_none {
         margin-bottom 0
      }
   }
}

.header-main {
   background #0F186A
}

.header-side {
   opacity 0
   pointer-events none
   transition .256s ease
   &.is-open {
      opacity 1
      pointer-events auto
   }
}

.header-major {
   padding-top: 20px;
   padding-bottom: 20px;
   &__wrapper {
      display flex
      align-items center
      margin-right -10px
      margin-left -10px
   }
   &__side {
      flex 0 0 auto
      margin-right 10px
      margin-left 10px
   }
   &__main {
      flex 1
      margin-right 10px
      margin-left 10px
      position relative
   }
   &__logo {
      position relative
      display block
      transition .3s ease
      &:before {
         content ''
         display block
         svg('logo', 110px, black)
      }
      &:hover {
         opacity 0.8
      }
   }
   &__nav {
      display flex
      flex-wrap wrap
      align-items center
      margin-right -12px
      margin-left -12px
      font-size 16px
      line-height (24 / 16)
      &-side {
         margin-right 12px
         margin-left 12px
      }
      &-main {
         margin-right 12px
         margin-left 12px
      }
      &-list {
         display flex
         align-items center
         margin-right -12px
         margin-left -12px
      }
      &-item {
         margin-right 12px
         margin-left 12px
         position relative
         &:before {
            content ''
            display block
            background-color white
            position absolute
            height 2px
            bottom -1px
            width 0
            transition .256s ease
         }
         &:hover {
            &:before {
               width 100%
            }
         }
         &:active {
            &:before {
               width 80%
            }
         }
      }
      &-link {
         color white
         transition 0.3s ease
         &:before {
            content ''
            position absolute
            top 0
            left 0
            right 0
            bottom 0
         }
         &:hover {
            color white
         }
      }
   }
   &__informs {
      display flex
      flex-wrap wrap
      align-items center
      margin-right -6px
      margin-left -6px
      &-main {
         margin-right 6px
         margin-left 6px
         flex 1
         position relative
      }
      &-side {
         margin-right 6px
         margin-left 6px
         flex 0 0 auto
      }
   }
   &__cols {
      display flex
      justify-content center
      align-items center
      margin-right -12px
      margin-left -12px
      &-item {
         margin-right 12px
         margin-left 12px
         &_full {
            flex 1
         }
         &_auto {
            flex 0 0 auto
         }
         &_delimiter {
            position relative
            &:before {
               width 1px
               height 50px
               top 50%
               transform translate(0, -50%)
               content ''
               display block
               position absolute
               right -12px
               background: rgba(#8E8E8E, 0.3)
            }
         }
      }
   }
   &__actions {
      display flex
      flex-wrap wrap
      align-items center
      margin-right -6px
      margin-left -6px
      flex 0 0 auto
      &-item {
         margin-right 6px
         margin-left 6px
         &_visible_m {
            display none
         }
         &_hidden_m {
         }
         &_right-offset_large {
            margin-right 20px
         }
         &_cart {
            /.is-lock-cart & {
               display none
            }
         }
      }
   }
   &__phone {
      padding-left 20px
      position relative
      color white
      &:before {
         content ''
         display block
         position absolute
         left 0
         top 50%
         transform translate(0, -50%)
         svg('phone', 12px, #DDDDDD)
      }
      &:hover {
         color #FEFEFE
         opacity 0.8
      }
      &_dark {
         color $color-black
      }
   }
   &__search {
      &-cols {
         display flex
         align-items center
         margin-right -5px
         margin-left -5px
      }
      &-caption {
         color white
         font-size 14px
      }
      &-col {
         margin-right 5px
         margin-left 5px
      }
      &-wrapper {
         display block
         height 50px
         cursor pointer
      }
      &-input {
         position absolute
         right 0
         left auto
         top 0
         opacity 0
         pointer-events none
         bottom 0
         height 50px
         box-shadow 0 5px 20px rgba(#040611, .10);
         border 1px solid white
         border-radius 20px
         overflow hidden
         transition .3s ease
         width 0 !important
         box-sizing border-box
      }
      &-btn {
         display block
         outline none
         size 50px
         border-radius 50%
         box-shadow 0 5px 20px rgba(#040611, .10);
         border 1px solid white
         background white
         position relative
         cursor pointer
         box-sizing border-box
         transition .3s ease background-color, .3s ease box-shadow
         &:before {
            content ''
            display block
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%)
            svg('search', 16px, $color-violet)
         }
         &:hover {
            box-shadow 0 5px 20px rgba(#040611, .0);
            border-color white
            background-color $color-violet
            &:before {
               svg-color('search', $color-white)
            }
         }
         &:active {
            opacity 0.8
         }
      }
      &.is-open {
         & ^[-1]-wrapper {
         }
         & ^[-1]-input {
            opacity 1
            pointer-events auto
            padding 0 50px 0 20px
            width 101% !important
            +placeholder() {
               color #979CA6
            }
         }
         & ^[-1]-btn {
            box-shadow none
            background white
            &:before {
               svg-color('search', $color-violet)
            }
         }
      }
   }
   &__cart {
      position relative
      &-amount {
         pointer-events none
         position absolute
         display flex
         align-items center
         justify-content center
         background: #F93C41
         color white
         size 25px
         border-radius 50%
         top: -6px;
         right: -9px;
         transform scale(0)
         transition .3s ease
         .amount {
            position absolute
            top 50%
            left 50%
            display block
            transform translate(-50%, -50%)
            line-height 1
            margin-top 0
            font-size 12px
         }
         &.is-init {
            transform scale(1)
         }
      }
      &-toggle {
         display block
         size 50px
         border-radius 50%
         box-shadow 0 5px 20px rgba(#040611, .10);
         border 1px solid white
         box-sizing border-box
         background white
         position relative
         transition .3s ease box-shadow, .3s ease border-color
         cursor pointer
         &:before {
            content ''
            display block
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%)
            svg('cart', 17px, $color-violet)
         }
         &:hover {
            box-shadow 0 5px 20px rgba(#040611, 0);
            border-color white
            background-color $color-violet
            &:before {
               content ''
               svg-color('cart', $color-white)
            }
         }
      }
      &-side {
      }
      &-main {
         position absolute
         width: 525px
         right: 0
         z-index 99
         top 55px
         background white
         box-shadow 0 0 50px rgba(11, 20, 39, 0.1)
         box-sizing border-box
         opacity 0
         pointer-events none
         transform translateY(20px)
         transition .3s ease
      }
      &-title {
         font-size 22px
         font-weight 700
         padding 20px 20px 0 20px
      }
      &-major {
         margin-bottom 15px
      }
      &-minor {
      }
      &.is-open {
         & ^[-1]-main {
            opacity 1
            pointer-events auto
            transform translateY(0)
         }
      }
      /.is-lock-cart & {
         display none
      }
   }
   &__menu {
      display block
      position relative
      margin-left 20px
      &:before {
         content ''
         display block
         svg('menu', 25px, $color-white)
      }
   }
   &__cross {
      display block
      position relative
      &:before {
         content ''
         display block
         svg('cross', 25px, $color-white)
      }
   }
   &__profile {
      color white
      position relative
      transition .3s ease opacity
      display block
      &-caption {
         box-sizing border-box
         padding-right 20px
         position relative
         &:before {
            content ''
            position absolute
            right 0
            top 50%
            transform translateY(-50%)
            display block
            transition .3s ease transform
            svg('login', 14px, white)
         }
      }
      &:hover {
         color white
         opacity 0.8
         & ^[-1]-caption {
            &:before {
               transform translateY(-50%) translateX(5px)
            }
         }
      }
      &_simple {
         size 50px
         background-color white
         display block
         border-radius 50%
         position relative
         &:before {
            content ''
            position absolute
            display block
            top 50%
            left 50%
            transform translate(-50%, -50%)
            svg('user', 20px, $color-violet)
         }
         & ^[-1]-caption {
            display none
         }
      }
   }
}

+do(1400) {
   .header-major {
      &__nav {
         &-item {

         }
      }
      &__wrapper {
         margin-right -14px
         margin-left -14px
      }
      &__side {
         margin-right 14px
         margin-left 14px
      }
      &__main {
         margin-right 14px
         margin-left 14px
      }
   }
}

+do(1300) {
   .header-major {
      &__nav {
         &-list {
            margin-right -5px
            margin-left -5px
         }
         &-item {
            font-size 14px
            margin-right 5px
            margin-left 5px
         }
      }
   }
}

+do(1200) {
   .header-major {
      &__nav {
         display none
      }
      &__actions {
         &-item {
            &_visible_m {
               display block
            }
            &_hidden_m {
               display none
            }
         }
      }
      &__cart {
         &-main {
            display none
         }
      }
   }
}

+do(750) {
   .header-major {
      padding-bottom 20px
      &__wrapper {
         margin-right -4px
         margin-left -4px
      }
      &__side {
         margin-right 4px
         margin-left 4px
      }
      &__main {
         margin-right 4px
         margin-left 4px
      }
      &__profile {
         &_simple {
            size 30px
            &:before {
               svg-size('user', 12px)
            }
         }
      }
      &__menu {
         margin-left 0
      }
      &__informs {
         margin-right -5px
         margin-left -5px
         &-side {
            margin-right 5px
            margin-left 5px
         }
         &-main {
            margin-right 5px
            margin-left 5px
         }
      }
      &__actions {
         margin-right -10px
         margin-left -10px
         &-item {
            margin-right 10px
            margin-left 10px
            &_hidden_xs {
               display none
            }
         }
      }
      &__cols {
         margin-right -10px
         margin-left -10px
         &-item {
            margin-right 10px
            margin-left 10px
            &_delimiter {
               &:before {
                  right -11px
                  height 30px
               }
            }
         }
      }
      &__search {
         &-wrapper {
            height 30px
         }
         &-btn {
            size 30px
            &:before {
               svg-size('search', 12px)
            }
         }
      }
      &__cart {
         &-toggle {
            size 30px
            &:before {
               svg-size('cart', 14px)
            }
         }
      }
      &__logo {
         &:before {
            content ''
            display block
            svg('logo', 85px, black)
         }
      }
   }
}

.header-minor {
   &__wrapper {
      display flex
      margin-right -40px
      margin-left -40px
   }
   &__side {
      width 434px
      flex 0 0 auto
      margin-right 40px
      margin-left 40px
      padding-top 40px
      padding-bottom 100px
      box-sizing border-box
      position relative
      &:before {
         content ''
         position absolute
         top 0
         bottom 0
         right 0
         width 1px
         background #E8E8E8
      }

   }
   &__main {
      flex 1
      margin-right 40px
      margin-left 40px
      padding-top 40px
      padding-bottom 100px
      box-sizing border-box
   }
   &__category {
      min-height 60px
      font-size 18px
      line-height 1.2
      margin-bottom 25px
      position relative
      &-img {
         display block
         max-width 100%
      }
      &-wrapper {
         display flex
         align-items center
      }
      &-link {
         color currentColor
         &:before {
            content ''
            position absolute
            top 0
            left 0
            right 0
            bottom 0
         }
      }
      &-side {
         flex 0 0 auto
         width 37px
         margin-right 20px
         min-height 55px
         display flex
         align-items center
      }
      &-main {
         flex 1
      }
      &:before {
         position absolute
         content ''
         right -2px
         top 0
         bottom 0
         width 5px
         border-radius 100px
         background rgba($color-violet, 0)
         transition .3s ease
      }
      &.is-active {
         color $color-violet
         &:before {
            background $color-violet
         }
      }
      &:last-child {
         margin-bottom 0
      }
   }
   &__subcategories {
      font-size 16px
      line-height 1.2
      &-list {
         display flex
         flex-wrap wrap
         margin-right -10px
         margin-left -10px
         &:not(.is-active) {
            display none
         }
      }
      &-item {
         margin-right 5px
         margin-left 5px
         flex 1
         flex-basis calc(50% - 10px)
         max-width calc(50% - 10px)
         box-sizing border-box
         padding-top 12px
         padding-bottom 12px
         position relative
      }
      &-link {
         &:before {
            content ''
            display block
            position absolute
            top 0
            left 0
            right 0
            bottom 0
         }
      }
   }
}

+do(1400) {
   .header-minor {
      &__wrapper {
         margin-right -20px
         margin-left -20px
      }
      &__side {
         margin-right 20px
         margin-left 20px
      }
      &__main {
         margin-right 20px
         margin-left 20px
      }
   }
}

.header-box {
   &__wrapper {
      display flex
      flex-wrap wrap
      margin-right -10px
      margin-left -10px
      margin-bottom -5px
      align-items center
   }
   &__main {
      flex 1 1 auto
      margin-right 10px
      margin-left 10px
      margin-bottom 5px
   }
   &__side {
      flex 0 0 auto
      margin-right 10px
      margin-left 10px
      margin-bottom 5px
      &_right {
         margin-left auto
      }
   }
   &__title {
      font-family $font-arimo
      font-size 36px
      line-height 1.2
      font-weight 700
   }
   &__cols {
      &-list {
         display flex
         align-items center
         margin-right -20px
         margin-left -20px
         margin-bottom -15px
      }
      &-item {
         flex 0 0 auto
         margin-right 20px
         margin-left 20px
         margin-bottom 15px
         &:last-child {
            position relative
            &:before {
               content ''
               position absolute
               height 40px
               width 1px
               background rgba(#AEB1BD, 0.2)
               left -20px
               top 50%
               transform translateY(-50%)
            }
         }
         &:only-child {
            &:before {
               display none
            }
         }
      }
   }
}

+do(1200) {
   .header-box {
      &__title {
         font-size 28px
         line-height 1.2
      }
      &__side {
         &_m_hidden {
            display none
         }
      }
   }
}

+do(1000) {
   .header-box {
      &__cols {
         &-item {
            &_nav {
               display none
            }
         }
      }
   }
}

+do(750) {
   .header-box {
      &__title {
         font-size 24px
         line-height 1.2
      }
   }
}