.list-fields {
   max-width 830px
   &__list {
      &-item {
         &_row_small {
            margin-bottom 20px
         }
      }
   }
   &_row_small {
      margin-bottom 20px
   }
   &__item {
      &-side {
         font-size 16px
         font-weight 500
         margin-bottom 15px
      }
      &-main {

      }
      &-title {
      }
      &-subtitle {
         font-size 14px
         color #bababa
         line-height 1.2
         font-weight 400
      }
   }
}

+do(1200) {
   .list-fields {
      max-width none
   }
}

.list-fields_3x {
   & > .list-fields__list {
      display flex
      flex-wrap wrap
      margin-right -25px
      margin-left -25px
      margin-bottom -25px
      & > .list-fields__list-item {
         margin-right 25px
         margin-left 25px
         margin-bottom 25px
         flex 1
         max-width calc(33.33% - 50px)
         flex-basis calc(33.33% - 50px)
      }
   }
}

+do(1000) {
   .list-fields_3x {
      & > .list-fields__list {
         & > .list-fields__list-item {
            max-width calc(50% - 50px)
            flex-basis calc(50% - 50px)
         }
      }
   }
}

+do(700) {
   .list-fields_3x {
      & > .list-fields__list {
         & > .list-fields__list-item {
            max-width calc(100% - 50px)
            flex-basis calc(100% - 50px)
         }
      }
   }
}

.list-fields_2x {
   & > .list-fields__list {
      display flex
      flex-wrap wrap
      margin-right -25px
      margin-left -25px
      margin-bottom -25px
      & > .list-fields__list-item {
         margin-right 25px
         margin-left 25px
         margin-bottom 25px
         flex 1
         max-width calc(50% - 50px)
         flex-basis calc(50% - 50px)
      }
   }
}

+do(750) {
   .list-fields_2x {
      & > .list-fields__list {
         & > .list-fields__list-item {
            max-width calc(100% - 50px)
            flex-basis calc(100% - 50px)
         }
      }
   }
}