.modal-box {
   flex 1 1 100%
   display flex
   justify-content center
   align-items center
}

.modal-content {
   display flex
}

.modal {
   flex 1
   max-width 380px
   box-shadow 0 10px 30px rgba(black, 0.1)
   box-sizing border-box
   padding 40px
   overflow hidden
   border-radius 5px
   transform translateY(40px)
   opacity 0
   transition .3s ease
   /.ie & {
      flex 0 0 auto
   }
   &__header {
      margin-bottom 30px
      padding-top 15px
      padding-bottom 15px
   }
   &__title {
      line-height 1
      font-size 36px
      font-weight 700
   }
   &__section {
      margin-bottom 25px
      &-list {
         display flex
         flex-wrap wrap
         margin-left -5px
         margin-right -5px
         justify-content space-between
      }
      &-item {
         margin-left 5px
         margin-right 5px
         flex 0 0 auto
      }
      &_load {
         display none
         justify-content center
         align-items center
      }
      &_center {
         text-align center
      }
   }
   &__body {
   }
   &__field {
      &-side {
         margin-bottom 5px
      }
      &-main {
      }
   }
   &__header {
      border-bottom 1px solid lightgrey
   }
   &__alert {
      font-size 16px
      font-weight 400
      line-height 1.2
      color lightcoral
      text-align center
   }
   &__link {
      border-bottom 1px solid $color-violet
      color $color-violet
      &:hover {
         border-color rgba($color-violet, 0)
      }
   }
   &__load {
      size 54px
      box-sizing border-box
      border-radius 50%
      border-right 4px solid $color-violet
      border-left 4px solid $color-violet
      border-top 4px solid rgba($color-violet, 0)
      border-bottom 4px solid $color-violet
      display block
      animation rotate 1s linear infinite
   }
   &__form {
      &.is-load {
         & ^[0]__section {
            &_submit {
               display none
            }
            &_load {
               display flex
            }
         }
      }
   }
   &_msg {
      max-width 390px
   }
   &.is-init {
      transform translateY(0)
      opacity 1
   }
}

+do(700) {
   .modal {
      max-width 320px
      box-shadow none
      padding 0 20px
   }
}

.modal-registration {
   input:not([type=checkbox]) {
      margin-bottom 15px
      @extend $input
   }
   label {
      display block
      margin-bottom 5px
   }
}