.nav-mobile {
   &__list {
      margin-bottom 10px
      &-item {
         margin-bottom 5px
         &:last-child {
            margin-bottom 0
         }
      }
   }
   &__link {
      font-size 22px
   }
   &__side {
      margin-bottom 40px
   }
   &__phone {
      font-size 22px
      font-weight 700
      margin-bottom 10px
      .header-major__phone {
         color black
      }
   }
   &__callback {
      margin-bottom 15px
   }
}

.nav-catalog {
   &__parent {
      padding-left 15px
      position relative
      &:before {
         content ''
         display block
         position absolute
         left 0
         margin-top -1px
         top 50%
         transform translateY(-50%)
         svg('arrow-left', 7px, $color-black)
      }
   }
   &__side {
      margin-bottom 15px
   }
   &__main {

   }
   &__list {
      &-item {
         margin-bottom -1px
      }
   }
}

.nav-toggle {
   &__side {
      margin-right -20px
      margin-left -20px
      padding-left 20px
      padding-right 20px
      border-bottom 1px solid #dddddd
      border-top 1px solid #dddddd
   }
   &__header {
      padding-right 10px
      position relative
      padding-top 20px
      padding-bottom 20px
      box-sizing border-box
      &:before {
         content ''
         position absolute
         top 50%
         right 0
         display block
         svg('arrow-right', 12px, $color-black)
         transform translateY(-50%)
      }
   }
   &__title {
      font-size 18px
      font-weight 700
   }
   &__main {
      display none
      padding-top 20px
      margin-right -20px
      margin-left -20px
      padding-left 20px
      padding-right 20px
      padding-bottom 20px
      border-bottom 1px solid #dddddd
   }
   &__list {
      &-children {
         padding-top 15px
         box-sizing border-box
         &-item {
            margin-bottom 10px
            padding-left 10px
            box-sizing border-box
            &:last-child {
               margin-bottom 0
            }
         }
      }
      &-item {
         margin-bottom 15px
         &:last-child {
            margin-bottom 0
         }
      }
   }
   &.is-open {
      color $color-violet
      & ^[0]__main {
         display block
      }
      & ^[0]__header {
         &:before {
            svg-color('arrow-right', $color-violet)
            transform translateY(-50%) rotate(90deg)
         }
      }
   }
}
.nav-toggle__list-children-item-main {
   padding-top 10px
}
.nav-toggle__list-children-item-element {
   margin-bottom 15px
   &:last-child {
      margin-bottom 0
   }
}