.orders {
   &__groups {
      max-width 800px
      margin-bottom 30px
      &-list {

      }
      &-item {
         margin-bottom 20px
         &:last-child {
            margin-bottom 0
         }
      }
   }
   &__group {
      max-width 800px
      &-list {
         display flex
         margin-right -10px
         margin-left -10px
      }
      &-item {
         flex 1
         max-width calc(50% - 20px)
         flex-basis calc(50% - 20px)
         margin-right 10px
         margin-left 10px
      }
   }
   &__tables {
      margin-bottom 25px
      &-item {
         margin-bottom 15px
         &:last-child {
            margin-bottom 0
         }
      }
   }
   &__columns {
      display flex
      margin-right -5px
      margin-left -5px
      align-items center
      &:last-child {
         margin-bottom 0
      }
      &-side,
      &-main {
         margin-right 5px
         margin-left 5px
      }
      &-main {
         flex 1
         font-weight 700
      }
      &-side {
         flex 0 0 auto
         &_large {
            font-size 22px
            font-weight 700
         }
      }
      &_borderd {
         border-bottom 1px dashed rgba(15, 24, 106, 0.2)
         padding-bottom 10px
         margin-bottom 8px
      }
   }
   &__title {
      font-size 24px
      font-weight 700
      margin-bottom 15px
   }
   &__rows {
      margin-bottom 15px
      &-side {
         margin-bottom 5px
         font-weight 700
      }
      &-main {
         max-width 300px
      }
      &:last-child {
         margin-bottom 0
      }
   }
   &__table {

   }
   &__item {
      margin-bottom 20px
      padding-bottom 30px
      border-bottom 2px solid $color-violet
      &:last-child {
         border-bottom none
         margin-bottom 0
      }
   }
}

.orders-table {
   width 100%
   &__row {
      &-side {
         display none
      }
      &-main {
      }
   }
   &__tr {
      border-bottom 1px solid rgba(15, 24, 106, 0.2)
      box-sizing border-box
      background-color white !important
   }
   &__td {
      &_img {
         width 160px
      }
      &_name {
      }
      &_amount {
         width 100px
      }
      &_price {
         width 100px
      }
      &_price-total {
         width 100px
      }
      &_header {
         background: $color-violet
      }
   }
   img {
      display block
      max-width 100%
   }
}

+do(750) {
   .orders-table {
      font-size 16px
      margin-bottom none
      border-bottom none
      border-top 1px solid rgba(15, 24, 106, 0.2)
      padding-top 10px
      &__thead {
         display none
      }
      &__row {
         display flex
         flex 1
         margin-right -5px
         margin-left -5px
         &-side {
            margin-right 5px
            margin-left 5px
            display block
            max-width calc(50% - 10px)
            flex-basis calc(50% - 10px)
         }
         &-main {
            margin-right 5px
            margin-left 5px
            max-width calc(50% - 10px)
            flex-basis calc(50% - 10px)
            line-height 1.2
            font-weight 600
         }
         &_mobile_single {
            & ^[0]__row-main {
               display flex
               justify-content center
               align-items center
               max-width none
               flex-basis 100%
               text-align center
            }
            & ^[0]__row-side {
               display none
            }
         }
      }
      &__tr {
         display block
         margin: 0 -20px;
         padding: 0 20px;
      }
      &__td {
         display flex
         padding 10px 0
         box-sizing border-box
         border-bottom 1px solid rgba(15, 24, 106, 0.2)
         &_mobile_none_border {
            border-bottom none
         }
         &:last-child {
            margin-bottom 0
            border-bottom 1px solid rgba(white, 0)
         }
      }
   }
}
