.pagination {
   &__wrapper {
      display flex
      flex-wrap wrap
      margin-right -5px
      margin-left -5px
   }
   &__main {
      flex 1
      margin-right 5px
      margin-left 5px
   }
   &__side {
      flex 0 0 auto
      margin-right 5px
      margin-left 5px
   }
   &__list {
      display flex
      flex-wrap wrap
      margin-right -5px
      margin-left -5px
   }
   &__nav,
   &__item {
      size 40px
      border-radius 50%
      box-sizing border-box
      position relative
      display flex
      justify-content center
      align-items center
      margin-right 5px
      margin-left 5px
      font-weight 500
      cursor pointer
      transition .3s ease
      border 2px solid rgba($color-violet, 0)
      color #979CA6
      &-title {
         line-height 1
         margin-bottom -1px
      }
      &.is-active {
         background $color-violet
         color white
      }
      &:hover {
         opacity 0.8
      }
   }
   &__nav {
      border 2px solid rgba(white, 0)
      &_prev {
         position relative
         &:before {
            content ''
            display block
            svg('arrow-left', 7px, #979CA6)
            position absolute
            left 50%
            top 50%
            transform translate(-50%, -50%)
         }
         &:hover {
            &:before {
               svg-color('arrow-left', $color-violet)
            }
         }
         &:active {
            opacity 0.8
         }
      }
      &_next {
         position relative
         &:before {
            content ''
            display block
            svg('arrow-right', 7px, #979CA6)
            position absolute
            left 50%
            top 50%
            transform translate(-50%, -50%)
         }
         &:hover {
            &:before {
               svg-color('arrow-right', $color-violet)
            }
         }
         &:active {
            opacity 0.8
         }
      }
      &.is-disabled {
         opacity 0.5
         pointer-events none
      }
   }
}

+do(750) {
   .pagination {
      &__nav,
      &__item {
         size 20px
         &.is-active {
            background rgba($color-violet, 0)
            color $color-violet
         }
      }
      &__nav {
         border-color rgba(white, 0)
         &_prev {
            &:before {
               svg('arrow-left', 10px, $color-violet)
            }
         }
         &_next {
            &:before {
               svg('arrow-right', 10px, $color-violet)
            }
         }
      }
      &__wrapper {
         display flex
         justify-content center
      }
   }
}