.products {
  &__major {
    border-bottom 1px solid #E8E9ED
    padding-bottom 21px
    margin-bottom 31px
    &-wrapper {
      flex-wrap wrap
      display flex
      align-items flex-start
      margin-right -10px
      margin-left -10px
    }
    &-side {
      flex 0 0 auto
      margin-right 10px
      margin-left 10px
      display none
    }
    &-main {
      flex 1
      margin-left 10px
      margin-right 10px
    }
  }
  &__side {
    margin-bottom 36px
  }
  &__minor {
    padding-bottom 100px
    box-sizing border-box
    border-bottom 1px solid rgba(#8E8E8E, 0.3)
    &-wrapper {
      display flex
      margin-right -29px
      margin-left -29px
    }
    &-main {
      flex 1
      margin-right 29px
      margin-left 29px
    }
    &-side {
      flex 0 0 auto
      margin-right 29px
      margin-left 29px
      width 230px
    }
    &_simple {
      padding-bottom 0
      border-bottom none
    }
  }
  &__additional {
    box-sizing border-box
  }
  &__info {
    padding-top 78px
  }
  &__pagination {
    padding-top 20px
    box-sizing border-box
    &-wrapper {
      display flex
      margin-right -5px
      margin-left -5px
      margin-bottom -10px
    }
    &-main {
      flex 1
      margin-right 5px
      margin-left 5px
      margin-bottom 10px
    }
    &-side {
      flex 0 0 auto
      margin-right 5px
      margin-left 5px
      margin-bottom 10px
    }
  }
  &__price-list {
    display none
  }
}

+do(1000) {
  .products {
    &__minor {
      padding-bottom 25px
      &-side {
        display none
      }
    }
    &__major {
      padding-bottom 0
      margin-bottom 18px
      border-bottom none
    }
    &__info {
      padding-top 20px
    }
    &__price-list {
      padding-top 25px
      display flex
      justify-content center
      align-items center
    }
  }
}

+do(750) {
  .products {
    &__pagination {
      padding-top 45px
      &-wrapper {
        display block
      }
      &-side {
        padding-top 15px
      }
      &-side,
      &-main {
        display flex
        justify-content center
      }
    }
  }
}

+do(550) {
  .products {
    &__side {
      margin-bottom 0
    }
    &__major {
      &-side {
        display block
      }
    }
  }
}

.products-filter {
  &__wrapper {
    display flex
    align-items flex-start
    flex-wrap wrap
    margin-right -8px
    margin-left -8px
    margin-bottom -16px
  }
  &__toggle {
    display none
  }
  &__main {
    margin-right 8px
    margin-left 8px
    margin-bottom 16px
    flex 1
  }
  &__side {
    margin-right 5px
    margin-left 5px
    margin-bottom 10px
    flex 0 0 auto
  }
  &__list {
    display flex
    align-items center
    flex-wrap wrap
    margin-right -8px
    margin-left -8px
    margin-bottom -16px
    &-item {
      flex 0 0 auto
      margin-right 8px
      margin-left 8px
      margin-bottom 16px
    }
  }
}

+do(550) {
  .products-filter {
    background-color $color-violet
    margin-left -20px
    margin-right -20px
    padding-left 20px
    padding-right 20px
    &__link {
      color white
      font-weight 600
      position relative
      padding-right 25px
      font-size 18px
      &:before {
        content ''
        display block
        position absolute
        right 0
        top 50%
        transform translateY(-50%)
        svg('arrow-down', 12px, $color-white)
      }
    }
    &__toggle {
      display flex
      justify-content center
      align-items center
      padding-top: 15px;
      padding-bottom: 15px;
      box-sizing border-box
    }
    &__box {
      padding-top 40px
      padding-bottom 40px
      margin-bottom 40px
      display none
    }
    &__wrapper {
      display block
    }
    &__main,
    &__side {
      max-width 290px
      margin-left auto
      margin-right auto
    }
    &__list {
      display block
      margin-bottom 25px
    }
    &__btns {
      display flex
      justify-content center
      align-items center
      .button {
        width 100%
        &__content {
          border-color white
        }
      }
    }
    &.is-open {
      & ^[0]__box {
        display block
      }
      & ^[0]__link {
        &:before {
          transform translateY(-50%) rotate(180deg)
        }
      }
    }
  }
}

.products-categories {
  margin-bottom 30px
  &__list {
    &-item {
      border-bottom 1px solid #E8E9ED
    }
  }
  &__children {
    padding-bottom 27px
    font-size 14px
    line-height (22 / 14)
    color #979CA6
    &-item {
      margin-bottom 30px
      padding-left 20px
      box-sizing border-box
      position relative
      &-side {
        padding-top 10px
      }
      &:last-child {
        margin-bottom 0
      }
      &.is-active {
        color $color-violet
        &:before {
          content ''
          position absolute
          left 0
          top 0
          bottom 0
          background-color $color-violet
          width 3px
          border-radius 5px
        }
      }
    }
    &-link {
      color currentColor
    }
    &-element {
      padding-left 10px
      margin-bottom 10px
      &-main {
        padding-top 10px
      }
      &-item {
        margin-bottom 10px
        padding-left 10px
        box-sizing border-box
        &:last-child {
          margin-bottom 0
        }
        &.is-active {
          font-weight 700
          pointer-events none
        }
      }
      &-link {
        color currentColor
      }
      &.is-active {
        font-weight 700
        pointer-events none
      }
      &:last-child {
        margin-bottom 0
      }
      &-link {
        color currentColor
      }
    }
  }
  &__parent {
    line-height 1.2
    min-height 65px
    font-weight 600
    padding-right 40px
    box-sizing border-box
    padding-top 15px
    padding-bottom 15px
    display flex
    align-items center
    position relative
    &:after {
      content ''
      position absolute
      display block
      right 15px
      top 50%
      transform translateY(-50%)
      svg('arrow-down', 12px, #979CA6)
    }
    &-link {
      color currentColor
      &:before {
        content ''
        position absolute
        top 0
        left 0
        right 0
        bottom 0
      }
    }
    &:hover {
      &:after {
        content ''
        svg-color('arrow-down', $color-violet)
      }
    }
    &.is-active {
      color $color-violet
      pointer-events none
      &:after {
        content ''
        svg('arrow-up', 12px, $color-violet)
      }
    }
  }
}

.filter-toggle {
  &:before {
    content ''
    display block
    svg('controls', 25px, $color-violet)
  }
}

.products-slider {
  position relative
  &:before {
    content ''
    position absolute
    size 150px
    border-radius 50%
    border 18px solid $color-violet
    border-left 18px solid rgba(white, 0)
    left 50%
    top 50%
    transform translate(-50%, -50%)
    animation load 1s linear infinite
  }
  &__wrapper {
    pointer-events none
    opacity 0
  }
  &__list {
    &-item {
      display none
      &:first-child {
        display flex
        flex 1
      }
    }
  }
  &__nav {
    display flex
    margin-right -5px
    margin-left -5px
    .owl-next,
    .owl-prev {
      display block
      border none
      size 50px
      border-radius 50%
      outline none
      background-color #F7F7F9
      position relative
      margin-right 5px
      margin-left 5px
      transition .3s ease
      &:before {
        content ''
        position absolute
        top 50%
        left 50%
        display block
        transform translate(-50%, -50%)
        z-index 9
      }
      &:hover {
        background-color $color-violet
      }
      &:active {
        opacity 0.8
      }
      &.disabled {
        opacity 0.4
        pointer-events none
      }
    }
    .owl-next {
      &:before {
        svg('arrow-right', 12px, $color-violet)
      }
      &:hover {
        &:before {
          svg('arrow-right', 12px, $color-white)
        }
      }
    }
    .owl-prev {
      &:before {
        svg('arrow-left', 12px, $color-violet)
      }
      &:hover {
        &:before {
          svg('arrow-left', 12px, $color-white)
        }
      }
    }
  }
  .owl-carousel {
    .owl-stage {
      display flex
    }
    .owl-item {
      display flex
      img {
        width auto
      }
    }
  }
}

.products-slider.is-init {
  &:before {
    display none
  }
  .products-slider {
    &__wrapper {
      opacity 1
      pointer-events auto
    }
  }
}

+do(1000) {
  .products-slider {
    .owl-stage-outer {
      padding-bottom 20px
      padding-top 5px
    }
  }
}

+do(750) {
  .products-slider {
    &__list {
    }
    &__nav {
      .owl-next,
      .owl-prev {
        size 34px
      }
      .owl-next {
        &:before {
          svg-size('arrow-right', 8px)
        }
      }
      .owl-prev {
        &:before {
          svg-size('arrow-left', 8px)
        }
      }
    }
    .owl-stage-outer {
      padding-top 5px
      padding-bottom 15px
      overflow visible
    }
  }
}

@keyframes load {
  0% {
    transform translate(-50%, -50%) rotate(0deg)
  }
  100% {
    transform translate(-50%, -50%) rotate(360deg)
  }
}