.product {
   &__header {
      margin-bottom 36px
      &_mobile_visible {
         display none
      }
   }
   &__wrapper {
   }
   &__title {
      font-size 43px
      line-height 1
      font-family $font-arimo
      margin-bottom 10px
   }
   &__subtitle {
      font-size 18px
      line-height 1.2
   }
   &__major {
      margin-bottom 15px
      &-wrapper {
         display flex
         margin-right -50px
         margin-left -50px
      }
   }
   &__main {
      flex 1
      flex-basis calc(50% - 110px)
      max-width calc(50% - 110px)
      margin-right 55px
      margin-left 55px
   }
   &__side {
      flex 1
      flex-basis calc(50% - 110px)
      max-width calc(50% - 110px)
      margin-right 55px
      margin-left 55px
   }
   &__major {
      margin-bottom 31px
   }
   &__informs {
      margin-bottom 40px
      &-wrapper {
         display flex
         align-items flex-start
         margin-right -22px
         margin-left -22px
      }
      &-main {
         margin-right 22px
         margin-left 22px
         flex 0 0 auto
      }
      &-side {
         margin-right 22px
         margin-left 22px
         flex 0 0 auto
      }
      &-list {
         display flex
         flex-wrap wrap
         margin-left -30px
         margin-right -30px
         margin-bottom -20px
      }
      &-item {
         margin-left 30px
         margin-right 30px
         margin-bottom 20px
      }
   }
   &__minor {
   }
   &__buttons {
      min-height 40px
   }
   &__availability {
      color #979CA6
      &-title {
         padding-left 20px
         box-sizing border-box
         position relative
         &:before {
            content ''
            position absolute
            left 0
            top 6px
            size 10px
            background #27AE60
            border-radius 50%
            display block
         }
      }
      &-main {
         margin-bottom 12px
      }
      &-side {
      }
      &_sold_out {
         & ^[-1]-title {
            &:before {
               background: #979CA6
            }
         }
      }
   }
   &__price {
      &-main {
         margin-bottom 8px
      }
      &-side {
      }
      &-title {
         font-size 40px
         font-weight 700
         line-height 1
      }
      &-desc {
         color #979CA6
         font-size 14px
         line-height 1
      }
      &_wholesale {
         font-weight 400
         color #979CA6
      }
   }
   &__gallery {
      &-wrapper {
         display flex
         margin-right -18px
         margin-left -18px
      }
      &-side {
         margin-right 18px
         margin-left 18px
         flex 0 0 auto
         order 1
      }
      &-main {
         margin-right 18px
         margin-left 18px
         flex 1
         order 2
      }
   }
   &__previews {
      &-list {
      }
      &-item {
         user-select none
         border-radius 5px
         overflow hidden
         box-sizing border-box
         padding 10px
         border 2px solid rgba(white, 0)
         transition .3s ease
         cursor pointer
         &.is-active {
            border-color #0F186A
            pointer-events none
         }
         &:hover {
            opacity 0.6
         }
      }
   }
   &__slider {
      position relative
      &-list {
      }
      &-item {
         border-bottom none
         transition opacity .3s ease
         position relative
         display none
         &:first-child {
            display block
         }
         &:hover {
            opacity 0.8
         }
      }
      &-nav {
         top 50%
         transform translateY(-50%)
         left 0
         right 0
         z-index 10
         pointer-events none
         position absolute
         display flex
         justify-content space-between
         margin-right -5px
         margin-left -5px
         outline none
         .owl-next,
         .owl-prev {
            pointer-events auto
            size 40px
            border-radius 50%
            background-color #F7F7F9
            display block
            border none
            margin-right 5px
            margin-left 5px
            flex 0 0 auto
            position relative
            outline none
            &:after {
               content ''
               display block
               position absolute
               left -10px
               right -10px
               top -10px
               bottom -10px
            }
            &:before {
               content ''
               display block
               position absolute
               top 50%
               left 50%
               transform translate(-50%, -50%)
            }
            &.disabled {
               cursor default
               opacity 0.5
            }
            &:hover {
               background-color #0F186A
            }
            &:active {
               opacity 0.8
            }
         }
         .owl-next {
            &:before {
               svg('arrow-right', 10px, #0F186A)
            }
            &:hover {
               &:before {
                  svg('arrow-right', 10px, #F7F7F9)
               }
            }
            &.disabled {
               &:active {
                  opacity 0.5
               }
               &:hover {
                  background-color #F7F7F9
                  &:before {
                     svg('arrow-right', 10px, #0F186A)
                  }
               }
            }
         }
         .owl-prev {
            &:before {
               svg('arrow-left', 10px, #0F186A)
            }
            &:hover {
               &:before {
                  svg('arrow-left', 10px, #F7F7F9)
               }
            }
            &.disabled {
               &:active {
                  opacity 0.5
               }
               &:hover {
                  background-color #F7F7F9
                  &:before {
                     svg('arrow-left', 10px, #0F186A)
                  }
               }
            }
         }
      }
   }
   &__additional {
      padding-top 75px
   }
   .owl-carousel .owl-item img {
      display block
      width auto
      margin 0 auto
   }
}

+do(1200) {
   .product {
      &__title {
         font-size 32px
      }
      &__price {
         &-title {
            font-size 28px
         }
      }
      &__informs {
         &-list {
            margin-right -15px
            margin-left -15px
         }
         &-item {
            margin-right 15px
            margin-left 15px
         }
      }
      &__major {
         margin-bottom 20px
         &-wrapper {
            margin-right -40px
            margin-left -40px
         }
      }
      &__main {
         flex 1
         flex-basis calc(50% - 80px)
         max-width calc(50% - 80px)
         margin-right 40px
         margin-left 40px
      }
      &__side {
         flex 1
         flex-basis calc(50% - 80px)
         max-width calc(50% - 80px)
         margin-right 40px
         margin-left 40px
      }
      &__additional {
         padding-top 55px
      }
   }
}

+do(1000) {
   .product {
      &__major {
         margin-bottom 15px
         &-wrapper {
            margin-right -20px
            margin-left -20px
         }
      }
      &__main {
         flex 1
         flex-basis calc(50% - 40px)
         max-width calc(50% - 40px)
         margin-right 20px
         margin-left 20px
      }
      &__side {
         flex 1
         flex-basis calc(50% - 40px)
         max-width calc(50% - 40px)
         margin-right 20px
         margin-left 20px
      }
      &__gallery {
         &-main {
            margin-bottom 20px
         }
         &-wrapper {
            display block
         }
      }
      &__previews {
         overflow auto
         &-img {
            max-width 40px
         }
         &-list {
            display flex
            margin-right -10px
            margin-left -10px
            webkit-overflow-scrolling touch
            &:after {
               content ''
               display block
               flex 0 0 auto
               width 20px
            }
         }
         &-item {
            margin-right 10px
            margin-left 10px
            flex 0 0 auto
         }
      }
   }
}

+do(750) {
   .product {
      &__title {
         font-size 26px
      }
      &__header {
         margin-bottom 20px
         &_mobile_hidden {
            display none
         }
         &_mobile_visible {
            display block
         }
      }
      &__major {
         &-wrapper {
            display block
            margin-right 0
            margin-left 0
         }
      }
      &__main {
         margin-right 0
         margin-left 0
         max-width none
      }
      &__side {
         margin-right 0
         margin-left 0
         max-width none
         margin-bottom 20px
      }
      &__informs {
         margin-bottom 15px
         &-wrapper {
            display block
         }
         &-main {
            margin-bottom 10px
         }
         &-side {
         }
      }
      &__additional {
         padding-top 28px
      }
   }
}

.product-tab {
   &__headers {
      &-list {
         display flex
         margin-left -18px
         margin-right -18px
      }
      &-item {
         flex 0 0 auto
         margin-right 18px
         margin-left 18px
      }
   }
   &__title {
      padding-top 10px
      padding-bottom 10px
      border-bottom 3px solid rgba(white, 0)
      color #979CA6
      font-size 16px
      text-transform uppercase
      font-weight 700
      cursor pointer
      &.is-active {
         pointer-events none
         color #0F186A
         border-color #0F186A
      }
   }
   &__side {
   }
   &__main {
      padding-top 50px
      padding-bottom 115px
      box-sizing border-box
      position relative
      &:before {
         content ''
         position absolute
         top 0
         bottom 0
         left -100vw
         right -100vw
         background-color #F7F7F9
      }
   }
   &__pages {
      position relative
      z-index 50
      &-item {
         &:not(.is-open) {
            display none
         }
      }
   }
}

+do(750) {
   .product-tab {
      &__headers {
         overflow auto
         webkit-overflow-scrolling touch
         margin-right: -20px;
         margin-left: -20px;
         padding-left: 20px;
         &-list {
            &:after {
               content ''
               display block
               flex 0 0 auto
               width 36px
            }
         }
         &-item {
         }
      }
      &__main {
         padding-top 20px
         padding-bottom 40px
      }
   }
}

.product-card {
   z-index 15
   position relative
   background #FFFFFF
   display block
   text-decoration none
   border-radius 6px
   padding 20px
   overflow hidden
   border 1px solid rgba(white, 0)
   transition .3s ease box-shadow
   flex 1
   user-select none
   &__title {
      font-size 40px
      line-height 1
      font-weight 700
      font-family $font-arimo
      cursor pointer
   }
   &__wrapper {
   }
   &__side {
   }
   &__main {
      margin-bottom 14px
      position relative
   }
   &__badges {
      position absolute
      top 0
      left 0
      right 0
      &-list {
         display flex
         margin-right -5px
         margin-left -5px
      }
      &-item {
         margin-right 5px
         margin-left 5px
         flex 0 0 auto
      }
   }
   &__discount {
      size 50px
      border-radius 50%
      background: #EF4F4F
      color white
      display flex
      justify-content center
      align-items center
      font-size 18px
      line-height (22 / 18)
   }
   &__prices {
      font-size 24px
      line-height 1
      font-weight 700
      &_large-sum {
         font-size 18px
      }
   }
   &__price {
      display flex
      &-sum {
         &_old {
            font-size 14px
            font-weight 400
            color #979CA6
            position relative
            display inline-block
            &:before {
               content ''
               display block
               background #EF4F4F
               position absolute
               left 0
               right 0
               top 50%
               transform translateY(-50%) rotate(-15deg)
               height 1px
            }
         }
      }
   }
   &__pic {
      min-height 205px
      display flex
      align-items center
      justify-content center
      margin-bottom 17px
      &-img {
         display block
         max-height 100%
      }
   }
   &__title {
      font-size 18px
      line-height (22 / 18)
      font-weight 700
      margin-bottom 11px
      max-height (22 / 18) * 2em
      overflow hidden
      text-overflow ellipsis
   }
   &__code {
      font-size 12px
   }
   &__availability {
      padding-left 20px
      position relative
      font-size 14px
      &:before {
         content ''
         position absolute
         top 50%
         transform translateY(-50%)
         size 10px
         border-radius 50%
         background-color #27AE60
         left 4px
         margin-top -1px
      }
      &_sold-out {
         &:before {
            background-color #979CA6
         }
      }
   }
   &__info {
      color #979CA6
      &-list {
         display flex
         flex-wrap wrap
         justify-content space-between
         margin-left -5px
         margin-right -5px
         align-items center
      }
      &-item {
         margin-left 5px
         margin-right 5px
      }
   }
   &__actions {
      &-list {
         display flex
         align-items center
         flex-wrap wrap
         justify-content space-between
         margin-left -5px
         margin-right -5px
      }
      &-item {
         margin-left 5px
         margin-right 5px
      }
   }
   &__buttons {
      display flex
      min-height 33px
      align-items center
   }
}

+do(1200, 'miw') {
   .product-card {
      &:hover {
         z-index 50
         color currentColor
         border-color #E8E9ED
      }
      &:active {
         color currentColor
         border-color rgba(#E8E9ED, 0.8)
      }
   }
}

+do(1000) {
   .product-card {
      box-shadow 0 5px 10px rgba(0, 0, 0, 0.1)
   }
}

+do(750) {
   .product-card {
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 25px;
      padding-top: 25px;
   }
}

