.product-row {
   position relative
   box-sizing border-box
   padding-right 20px
   &__wrapper {
      display flex
      flex-wrap wrap
      justify-content space-between
      margin-right -10px
      margin-left -10px
   }
   &__side {
      margin-right 10px
      margin-left 10px
      display flex
      flex 0 0 auto
   }
   &__left {
      flex 0 0 auto
      width 50px
      display flex
      margin-right 20px
   }
   &__middle {
      flex 1
      margin-right 10px
   }
   &__right {
      flex 0 0 auto
   }
   &__main {
      margin-right 10px
      margin-left 10px
      flex 1
      &-wrapper {
         display flex
         flex-wrap wrap
         margin-right -5px
         margin-left -5px
      }
   }
   &__counter {
      font-weight 600
   }
   &__code,
   &__availability {
      font-size 12px
   }
   &__pic {
      display flex
      flex-wrap wrap
      align-items flex-start
      justify-content center
      margin-right 5px
      margin-left 5px
      flex 0 0 auto
      width 50px
      padding-top 5px
      &-img {
         max-width 100%
         max-height 50px
         display block
         flex 0 0 auto
      }
   }
   &__cols {
      color #979CA6
      font-size 14px
      &-list {
         display flex
         flex-wrap wrap
         margin-right -12px
         margin-left -12px
      }
      &-item {
         flex 0 0 auto
         margin-right 12px
         margin-left 12px
      }
   }
   &__info {
      margin-right 5px
      margin-left 5px
      flex 1
      &-title {
      }
      &-wrapper {
         display block
         align-items center
         margin-right -5px
         margin-left -5px
      }
      &-main {
         margin-right 5px
         margin-left 5px
         margin-bottom 5px
         flex 1 0
         font-size 16px
         line-height 1.2
         font-weight 600
         max-height 1.2 * 2em
         overflow hidden
         text-overflow ellipsis
      }
      &-side {
         margin-right 5px
         margin-left 5px
         flex: 0 0 auto
      }
      &-major {
         margin-bottom 8px
      }
      &-minor {
      }
   }
   &__sum {
      font-weight 700
      font-size 24px
      line-height 1.2
      &_old {
         color #979CA6
         font-size 18px
         line-height 1.2
         font-weight 400
      }
      &_large {
         font-size 18px
      }
   }
   &__price {
      display flex
      flex-direction column
      &-main {
         margin-bottom 1px
      }
      &-side {
         //margin-top auto
      }
   }
   &__availability {
      position relative
      padding-left 14px
      &:before {
         content ''
         position absolute
         size 10px
         display block
         left 0
         top 50%
         transform translateY(-50%)
         background: #27AE60
         border-radius 50%
         margin-top -1px
      }
      &_sold-out {
         &:before {
            background-color #979CA6
         }
      }
   }
   &__remove {
      position absolute
      right 0
      top 0
      cursor pointer
      &:after {
         content ''
         display block
         position absolute
         top -5px
         left -5px
         right -5px
         bottom -5px
      }
      &:before {
         content ''
         display block
         svg('cross', 9px, #979ca6)
      }
      &:hover {
         &:before {
            svg-color('cross', $color-violet)
         }
      }
   }
}

.product-row.is-static {
   padding-right 0
}

+do(750) {
   .product-row.is-static {
      .product-row {
         &__main {
            margin-bottom 10px
            margin-right 5px
            margin-left 5px
         }
         &__side {
            display block
            margin-right 5px
            margin-left 5px
         }
         &__wrapper {
            margin-right -5px
            margin-left -5px
         }
         &__info {
            &-wrapper {
               display block
            }
            &-main {
               margin-bottom 10px
            }
         }
         &__sum {
            font-size 20px
            &_old {
               font-size 18px
            }
         }
      }
   }
}

+do(750) {
   .product-row {
      &__info {
         &-main {
            margin-bottom 5px
            font-size 12px
         }
         &-wrapper {
            display block
         }
      }
      &__sum {
         font-size 16px
         &_old {
            font-size 14px
         }
      }
   }
}