.product-amount {
  user-select none

  &__wrapper {
    display flex
    align-items center
    margin-right -2px
    margin-left -2px
  }

  &__left {
    margin-right 2px
    margin-left 2px
    flex 0 0 auto
    display block
  }

  &__middle {
    margin-right 2px
    margin-left 2px
    flex 0 0 auto
    display block
  }

  &__right {
    flex 0 0 auto
    margin-right 2px
    margin-left 2px
    display block
  }

  &__action {
    size 26px
    border-radius 50%
    border 1px solid #AEB1BD
    box-sizing border-box
    padding 0
    background white
    display block
    outline none
    position relative
    z-index 9
    transform translate3D(0, 0, 0)

    &_increment,
    &_decrement {
      &:before {
        content ''
        position absolute
        left 50%
        top 50%
        transform translate(-50%, -50%)
        display block
      }
    }

    &:active {
      opacity 0.8
    }

    &:hover {
      background-color $color-violet
    }

    &_increment {
      &:before {
        svg('plus', 12px, $color-violet)
      }

      &:hover {
        &:before {
          svg-color('plus', $color-white)
        }
      }
    }

    &_decrement {
      &:before {
        svg('minus', 12px, $color-violet)
      }

      &:hover {
        &:before {
          svg-color('minus', $color-white)
        }
      }
    }
  }

  &__value {
    line-height 1
    display block
    width 32px !important
    border none
    font-size 16px
    font-weight 700
    text-align center
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.product-amount.is-large {
  .product-amount {
    &__action {
      size 36px
    }

    &__value {
      width 46px !important
      font-size 20px
    }
  }
}
