.product-counter {
   position relative
   &:before {
      content ''
      display block
      size 33px
      border-radius 50%
      border 3px solid $color-violet
      box-sizing border-box
      border-left 3px solid rgba(white, 0)
      position absolute
      left 50%
      top 50%
      transform translate(-50%, -50%)
      animation load .9s linear infinite
   }
   &:after {
      content ''
      display block
      min-width 66px
      min-height 33px
   }
   &.is-init {
      &:before {
         display none
      }
      &:after {
         display none
      }
   }
   &:not(.is-init) {
      & ^[0]__actions {
         display none
      }
   }
   &_large {
      display inline-flex
      &:before {
         size 52px
      }
      &:after {
         min-width 200px
         min-height 52px
      }
   }
}

.product-counter.is-large {
   display inline-flex
}

@keyframes load {
   0% {
      transform translateX(-50%) rotate(0)
   }
   100% {
      transform translateX(-50%) rotate(360deg)
   }
}
