.profile {
   &__content {
      display flex
   }
   &__side {
      flex 0 0 auto
      margin-right 50px
      width 270px
   }
   &__main {
      flex 1
   }
   &__header {
      padding-bottom 30px
      font-size 26px
      line-height (26 / 26)
      font-weight 700
      border-bottom 1px solid rgba(142, 142, 142, 0.3)
      margin-bottom 45px
   }
}

+do(1200) {
   .profile {
      &__side {
         width 220px
         margin-right 40px
      }
      &__header {
         padding-top 30px
         padding-bottom 30px
      }
   }
}

+do(1000) {
   .profile {
      margin-bottom 90px
      &__header {
         margin-bottom 0
      }
      &__content {
         display block
      }
      &__side {
         margin-right 0
         width auto
         margin-right -30px
         margin-left -30px
         padding-right 30px
         padding-left 30px
         background rgba($color-grey, 0.15)
         padding-bottom 20px
         margin-bottom 30px
         position relative
         padding-top 40px
         &:before {
            content ''
            display block
            position absolute
            top 17px
            right 30px
            pointer-events none
            svg('scroll', 30px, black)
         }
      }
      &__main {
      }
   }
}

+do(750) {
   .profile {
      margin-bottom 0
      &__side {
         margin-right -20px
         margin-left -20px
         padding-left 20px
         padding-righ 20px
      }
   }
}

.profile-menu {
   border-right 1px solid #d1d1d1
   font-weight 500
   line-height (16 / 16)
   &__section {
      margin-bottom 50px
      &:last-child {
         margin-bottom 0
      }
   }
   &__list-section {

   }
   &__item {
      padding-top 10px
      padding-bottom 10px
      padding-right 20px
      position relative
      margin-bottom 5px
      box-sizing border-box
      &-link {
         color currentColor
         &:before {
            content ''
            position absolute
            top 0
            left 0
            right 0
            bottom 0
         }
      }
      &.is-active {
         color $color-violet
         pointer-events none
         &:before {
            content ''
            position absolute
            top 0
            bottom 0
            right -1px
            width 3px
            background rgba($color-violet, 0.6)
         }
      }
      &:last-child {
         margin-bottom 0
      }
   }
}

+do(1000) {
   .profile-menu {
      border none
      overflow-x scroll
      -webkit-overflow-scrolling touch
      margin-right -30px
      margin-left -30px
      padding-left 30px
      &__list-section {
         display flex
         flex-wrap nowrap
         margin-right -15px
         margin-left -15px
         &:after {
            content ''
            display block
            flex 0 0 30px
         }
      }
      &__list {
         display flex
         flex-wrap nowrap
         margin-left -15px
         margin-right -15px
      }
      &__item {
         margin-left 15px
         margin-right 15px
         flex 0 0 auto
         padding-right 0
         &.is-active {
            &:before {
               display none
            }
         }
      }
      &__section {
         flex 0 0 auto
         margin-right 15px
         margin-left 15px
         margin-bottom 0
      }
   }
}

+do(700) {
   .profile-menu {
      margin-right -30px
      margin-left -30px
      padding-left 30px
      &__list-section {
         margin-right -9px
         margin-left -9px
         padding-bottom 10px
         padding-top 10px
      }
      &__list {
         margin-right -9px
         margin-left -9px
      }
      &__item {
         margin-right 9px
         margin-left 9px
         &.is-active {
            &:before {
               display none
            }
         }
      }
      &__section {
         margin-bottom 0
         margin-right 9px
         margin-left 9px
      }
   }
}

.profile-logout {
   &__link {
      font-weight 500
      color $color-violet
      padding-left 30px
      position relative
      &:before {
         content ''
         position absolute
         left 0
         top 50%
         transform translateY(-50%)
         svg('login', 18px, $color-violet)
         margin-top -1px
      }
      &:active,
      &:hover {
         opacity 0.8
      }
   }
}

.profile-list {
   &__list {
   }
   &__item {
      &_width_small {
         max-width 250px
      }
      &_row-small {
         margin-bottom 10px
      }
   }
   &__img {
      border-radius 5px
      overflow hidden
      box-shadow 0 10px 30px rgba(black, 0.1)
      background-size contain
      background-repeat no-repeat
      background-position center
      display inline-block
      img {
         display block
         max-width 100%
         opacity 0
      }
   }
   &_sidebar {
      & ^[0]__item {
         margin-bottom 60px
         &_row_small {
            margin-bottom 20px
         }
         &:last-child {
            margin-bottom 0
         }
      }
   }
   &__field {
      &-side {
         font-weight 500
         margin-bottom 14px
      }
      &-main {
      }
   }
}

.profile-list_bordered {
   .profile-list {
      &__list {
      }
      &__title {
         font-size 26px
         line-height 1.2
         font-weight 700
      }
      &__item {
         margin-bottom 20px
         padding-bottom 20px
         border-bottom 1px solid #ededed
         &-side {
            margin-bottom 20px
         }
         &-main {
         }
         &:only-child,
         &:last-child {
            padding-bottom 0
            margin-bottom 0
            border-bottom none
         }
      }
   }
}

+do(1000) {
   .profile-list_sidebar {
      .profile-list {
         &__item {
            margin-bottom 30px
         }
      }
   }
}

+do(1000) {
   .profile-list_sidebar {
      .profile-list {
         &__item {
            margin-bottom 15px
         }
      }
   }
}

.profile-list_bordered {
   & > .profile-list__item {
      padding-bottom 40px
      margin-bottom 47px
      border-bottom 1px solid #ededed
      &:last-child {
         border-bottom none
         padding-bottom 0
         margin-bottom 0
      }
   }
}

+do(750) {
   .profile-list_bordered {
      & > .profile-list__item {
         padding-bottom 20px
         margin-bottom 27px
         border-bottom 1px solid #ededed
         &:last-child {
            border-bottom none
            padding-bottom 0
            margin-bottom 0
         }
      }
   }
}

.profile-highlight {
   font-size 26px
   font-weight 500
   line-height 1.5
   padding-top 27px
   padding-bottom 27px
   padding-left 32px
   padding-right 32px
   background #f6f6f6
   overflow hidden
   border-radius 5px
   &__title {

   }
   &__amount {
      color $color-violet
      font-size 20px
      line-height 1
   }
   &_small {
      font-size 16px
   }
}

+do(750) {
   .profile-highlight {
      font-size 18px
      padding 15px
   }
}

.profile-section {
   &__side {
      margin-bottom 40px
   }
   &__title {
      font-size 26px
      font-weight 700
      line-height 1
   }
   &__main {
   }
}

.profile-balance {
   font-weight 700
   font-size 18px
}