.search-box {
   padding 25px
   background-color $color-violet
   &__wrapper {
      display flex
      margin-right -5px
      margin-left -5px
      align-items center
   }
   &__side {
      flex 0 0 auto
      margin-right 5px
      margin-left 5px
   }
   &__main {
      flex 1
      margin-right 5px
      margin-left 5px
   }
   &__input {
      background: $color-violet
      border-color $color-violet
      box-sizing border-box
      color white
      outline none
      box-shadow none
      border none
      border-bottom 1px solid rgba(white, 0.5)
      font-size 18px
      line-height 1.2
      width 100%
      padding 12px 0
      &:focus {
         border-bottom 1px solid white
      }
   }
   &__btn {
      size 50px
      box-sizing border-box
      border-radius 50%
      border 1px solid white
      background: $color-violet
      display block
      position relative
      &:before {
         content ''
         position absolute
         top 50%
         left 50%
         transform translate(-50%, -50%)
         display block
         svg('search', 16px, white)
      }
      &:hover {
         background white
         &:before {
            svg-color('search', $color-violet)
         }
      }
      &:active {
         opacity 0.5
      }
   }
}

+do(750) {
   .search-box {
      padding 15px
      margin-bottom 30px
      &__input {
         padding 0
      }
      &__btn {
         size 30px
         &:before {
            svg-size('search', 12px)
         }
      }
   }
}