.social {
   &__list {
      display flex
      flex-wrap wrap
      margin-bottom -6px
      margin-right -3px
      margin-left -3px
      &-item {
         margin-right 3px
         margin-left 3px
         margin-bottom 6px
      }
   }
}

.social-item {
   size 40px
   border-radius 50%
   background #191919
   display block
   position relative
   cursor pointer
   transition .3s ease opacity, .3s ease background
   &:before {
      content ''
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
   }
   &:active {
      opacity 0.8
   }
   &_vk {
      &:before {
         svg('vk', 18px, white)
      }
      &:hover {
         background #45668e
      }
   }
   &_facebook {
      &:before {
         svg('facebook', 18px, white)
      }
      &:hover {
         background #3b5998
      }
   }
   &_youtube {
      &:before {
         svg('youtube', 18px, white)
      }
      &:hover {
         background #ff0000
      }
   }
   &_ok {
      &:before {
         svg('ok', 12px, white)
      }
      &:hover {
         background #ed812b
      }
   }
   &_skype {
      &:before {
         svg('skype', 16px, white)
      }
      &:hover {
         background #00aff0
      }
   }
   &_instagram {
      &:before {
         svg('instagram', 16px, white)
      }
      &:hover {
         background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      }
   }
}

.social_violet {
   .social-item {
      background-color $color-violet
   }
}