.widgets {
   box-sizing border-box
   font-size 16px
   line-height 1.2
   &__list {
      &-item {
         margin-bottom 30px
         &:last-child {
            margin-bottom 0
         }
      }
   }
   h1, h2, h3 {
      margin-bottom 30px
   }
   img {
      height auto !important
      max-width 100% !important
      width 100% !important
   }
}
.widget-simple {}

.widget-image {
   img {
      display block
      max-width 100%
      width 100%
      border-radius 15px
   }
   &__side {
      margin-bottom 30px
   }
   &__main {

   }
   &__desc {
      color #898989
   }
   &__link {
      transition .3s ease
      &:hover {
         opacity 0.8
      }
   }
}

.widget-video {
   &__preview {
      background-position center
      background-repeat no-repeat
      background-size cover
      display block
      border-radius 15px
      overflow hidden
      position relative
      &:before {
         content ''
         position absolute
         top 0
         left 0
         right 0
         bottom 0
         background rgba($color-orange, 0.6)
      }
      &:after {
         content ''
         display block
         position absolute
         left 50%
         top 50%
         transform translate(-50%, -50%)
         svg('play-triangle', 50px, $color-white)
      }
      &:hover {
         opacity 0.8
      }
   }
   img {
      opacity 0
   }
}