{#<html>
<body>
{{ form_start(form) }}
{{ form_widget(form) }}
<button>Загрузить</button>
{{ form_end(form) }}
</body>
</html>#}

{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_page_content %}
    <section class="content-header">
        <div class="sticky-wrapper">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            Загрузка товаров
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <section class="content">
        <div class="sonata-ba-form">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        {% for field in form %}
                                            <div class="form-group">
                                                <label class="control-label">
                                                    {{ form_label(field) }}
                                                </label>
                                                <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                    {{ form_widget(field) }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sonata-ba-form-actions well well-small form-actions">
                <button type="submit" class="btn btn-success" name="btn_update_and_edit">
                    <i class="fa fa-save" aria-hidden="true"></i>
                    Загрузить
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}