{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_page_content %}
    <section class="content-header">
        <div class="sticky-wrapper">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            Загрузка товаров
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <section class="content">
        <div class="sonata-ba-form">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        Файл загружен
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}