Здравствуйте!
Спасибо, что вы выбрали наш магазин.
Вы зарегистрировались на сайте {{ siteUrl }}
Для подтверждения регистрации перейдите по ссылке {{ confirmationUrl }}
Если вы этого не делали, проигнорируйте данное сообщение.