{% extends 'base.html.twig' %}
{% block body_mod %}{% endblock %}
{% block body %}
    <div class="sections-list block">
        <div class="sections-list__list block-wrapper">
            {% if breadcrumbs is defined and breadcrumbs is not empty %}
                <div class="section section_breadcrumbs sections-list__list-item">
                    {% include 'modules/breadcrumbs.html.twig' with {links:breadcrumbs} %}
                </div>
            {% endif %}
            <div class="section sections-list__list-item">
                <div class="section__wrapper">
                    <div class="section__side">
                        <div class="header-box">
                            <div class="header-box__wrapper">
                                <div class="header-box__main">
                                    {% if name is defined %}
                                        <h1 class="header-box__title">
                                            {{ name }}
                                        </h1>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if categories is defined and categories is not empty %}
                        <div class="section__main">
                            {% include 'categories/categories-list.html.twig' with {categories:categories} %}
                        </div>
                    {% endif %}
                    {% if activeCategory is defined %}
                        <div class="section__additional">
                            {% include 'modules/additional-info.html.twig'
                            with {
                            info: activeCategory.content,
                            } %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


