<a href="{{ path('category', {slug: category.slug}) }}" class="category-card">
    <div class="category-card__wrapper">
        <div class="category-card__side">
            <div class="category-card__img">
                {% if category.image is not empty %}
                    {% if category.image == empty_image %}
                        <img src="{{ empty_image_category | imagine_filter('category_list_thumb') }}">
                    {% else %}
                        <img src="{{ category.image | imagine_filter('category_list_thumb') }}">
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="category-card__main">
            <h3 class="category-card__title">
                {{ category.name }}
            </h3>
        </div>
    </div>
</a>