<div class="cards-list cards-list_5x">
    <div class="cards-list__list">
        {% for category in categories %}
            <div class="cards-list__list-item">
                {% include 'categories/categories-card.html.twig' with {category:category} %}
            </div>
        {% endfor %}
    </div>
</div>