<div class="breadcrumbs">
    <div class="breadcrumbs__wrapper">
        <div itemscope="http://schema.org/BreadcrumbList" class="breadcrumbs__list">
            {% for link in links %}
                <div class="breadcrumbs__list-item">
                    <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
                        <a href="{{ link.url }}" itemprop="item" class="breadcrumbs__link"><span itemprop="name">{{ link.name }}</span></a>
                        <meta itemprop="position" content="{{ loop.index }}">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>