{% set showAlwaysFirstAndLast = true %}
{% spaceless %}
    {% if lastPage > 1 %}
        {% set extremePagesLimit = 1 %}
        {% set nearbyPagesLimit = 1 %}
        <div class="pagination">
            <div class="pagination__list">
                {% if currentPage > 1 %}
                    <a href="{{ link }}{{ ('?' in link ? '&' : '?') ~ 'page=' ~ (currentPage - 1) }}" class="pagination__nav pagination__nav_prev"></a>
                    {% for i in range(1, extremePagesLimit) if ( i < currentPage - nearbyPagesLimit ) %}
                        <a href="{{ link }}{{ ('?' in link ? '&' : '?') ~ 'page=' ~ i }}" class="pagination__item" data-id="{{ i }}">
                            <div class="pagination__item-title">
                                {{ i }}
                            </div>
                        </a>
                    {% endfor %}
                    {% if extremePagesLimit + 1 < currentPage - nearbyPagesLimit %}
                        <div class="pagination__item pagination__item_empty">
                            <div class="pagination__item-title">
                                ...
                            </div>
                        </div>
                    {% endif %}
                    {% for i in range(currentPage-nearbyPagesLimit, currentPage-1) if ( i > 0 ) %}
                        <a href="{{ link }}{{ ('?' in link ? '&' : '?') ~ 'page=' ~ i }}" class="pagination__item" data-id="{{ i }}">
                            <div class="pagination__item-title">
                                {{ i }}
                            </div>
                        </a>
                    {% endfor %}
                {% elseif showAlwaysFirstAndLast %}
                    <div class="pagination__nav pagination__nav_prev is-disabled"></div>
                {% endif %}
                <div class="pagination__item is-active">
                    <div class="pagination__item-title">
                        {{ currentPage }}
                    </div>
                </div>
                {% if currentPage < lastPage %}
                    {% for i in range(currentPage+1, currentPage + nearbyPagesLimit) if ( i <= lastPage ) %}
                        <a href="{{ link }}{{ ('?' in link ? '&' : '?') ~ 'page=' ~ i }}" class="pagination__item" data-id="{{ i }}">
                            <div class="pagination__item-title">
                                {{ i }}
                            </div>
                        </a>
                    {% endfor %}
                    {% if  (lastPage - extremePagesLimit) > (currentPage + nearbyPagesLimit) %}
                        <div class="pagination__item pagination__item_empty">
                            <div class="pagination__item-title">
                                ...
                            </div>
                        </div>
                    {% endif %}
                    {% for i in range(lastPage - extremePagesLimit+1, lastPage) if ( i > currentPage + nearbyPagesLimit ) %}
                        <a href="{{ link }}{{ ('?' in link ? '&' : '?') ~ 'page=' ~ i }}" class="pagination__item" data-id="{{ i }}">
                            <div class="pagination__item-title">
                                {{ i }}
                            </div>
                        </a>
                    {% endfor %}
                    <a href="{{ link }}{{ ('?' in link ? '&' : '?') ~ 'page=' ~ (currentPage + 1) }}" class="pagination__nav pagination__nav_next"></a>
                {% elseif showAlwaysFirstAndLast %}
                    <div class="pagination__nav pagination__nav_next is-disabled"></div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endspaceless %}
