{% extends 'base.html.twig' %}

{% block body %}
    <div class="modal-box">
        <div js-modal class="modal is-init">
            <div class="modal__wrapper">
                <div class="modal__header">
                    <div class="modal__title">Вход</div>
                </div>
                <div class="modal__content">
                    <form js-load-form class="modal__form" action="{{ path('login_check') }}" method="post">
                        <div class="modal__section">
                            <div class="modal__field">
                                <div class="modal__field-side">
                                    Email
                                </div>
                                <div class="modal__field-main">
                                    <label class="field field_dark" for="username">
                                        <input class="field__input" type="text" id="username" name="_username"
                                               value="{{ last_username }}" required="required"
                                               autocomplete="username"/>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="modal__section">
                            <div class="modal__field">
                                <div class="modal__field-side">
                                    Пароль
                                </div>
                                <div class="modal__field-main">
                                    <label class="field field_dark" for="password">
                                        <input class="field__input" type="password" id="password" name="_password"
                                               required="required" autocomplete="current-password"/>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="modal__section">
                            <label class="toggle">
                                <input class="toggle__input" type="checkbox" id="remember_me" name="_remember_me"
                                       value="on"/>
                                <span class="toggle__fake"></span>
                                <span class="toggle__main">
                                    <span class="toggle__title">Запомнить меня</span>
                                </span>
                            </label>
                        </div>
                        <div class="modal__section">
                            <div class="modal__section-list">
                                <div class="modal__section-item">
                                    <a href="/resetting" class="modal__link">Забыли пароль ?</a>
                                </div>
                                <div class="modal__section-item">
                                    <a href="/register" class="modal__link">Регистрация</a></div>
                            </div>
                        </div>

                        <div class="modal__section modal__section_submit">
                            <button class="button button_full" id="_submit" name="_submit">
                                <span class="button__content">
                                    <span class="button__title">
                                        Войти
                                    </span>
                                </span>
                            </button>
                        </div>
                        <div class="modal__section modal__section_load">
                            <div class="modal__load"></div>
                        </div>
                        <div class="modal__section modal__section_center">
                            <a href="/" class="modal__link">Вернуться на главную</a>
                        </div>
                        {% if error %}
                            <div class="modal__section">
                                <div class="modal__alert">
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </div>
                            </div>
                        {% endif %}
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}