{% extends 'base.html.twig' %}
{% block body %}
    <div class="modal-box">
        <div js-modal class="modal is-init">
            <div class="modal__wrapper">
                <div class="modal__header">
                    <div class="modal__title">Регистрация</div>
                </div>
                <div class="modal__content">
                    <div class="modal__section">
                        <p>
                            Для продолжения регистрации вам необходимо подтвердить ваш адрес электронной почты.
                        </p>
                    </div>
                    <div class="modal__section">
                        <div class="modal__section-list">
                            <div class="modal__section-item">
                                <a href="{{ path('homepage') }}" class="modal__link">Вернуться на главную</a>
                            </div>
                            <div class="modal__section-item">
                                <a href="{{ path('login') }}" class="modal__link">Вход</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}