{% extends 'base.html.twig' %}
{% block body %}
    <div class="modal-box">
        <div js-modal class="modal is-init">
            <div class="modal__wrapper">
                <div class="modal__header">
                    <div class="modal__title">Регистрация</div>
                </div>
                <div class="modal__content">
                    {{ form_start(form, {'attr': {'class': 'modal__form modal-registration'}}) }}
                    <div class="modal__section">
                        {{ form_row(form.email) }}
                        {{ form_row(form.plainPassword.first) }}
                        {{ form_row(form.plainPassword.second) }}
                        <label class="toggle">
                            {{ form_widget(form.termsAccepted, { 'attr': {'class': 'toggle__input'} }) }}
                            <span class="toggle__fake">
                                </span>
                            <span class="toggle__main">
                                    <span class="toggle__title">
                                        Я принимаю условия
                                    </span>
                                </span>
                        </label>
                    </div>
                    <div class="modal__section modal__section_submit">
                        <button class="button button_full">
                            <span class="button__content">
                                <span class="button__title">Регистрация</span>
                            </span>
                        </button>
                    </div>
                    <div class="modal__section modal__section_load">
                        <div class="modal__load"></div>
                    </div>
                    <div class="modal__section">
                        <div class="modal__section-list">
                            <div class="modal__section-item">
                                <a href="{{ path('homepage') }}" class="modal__link">Вернуться на главную</a>
                            </div>
                            <div class="modal__section-item">
                                <a href="{{ path('login') }}" class="modal__link">Вход</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal__section"
                         style="font-size: 12px;color: #898484;text-align: center;max-width: 260px; margin-left: auto; margin-right: auto;">
                        Нажимая «Зарегистрироваться» я соглашаюсь с <a
                                href="{{ path('pages', {'slug': 'confidential'}) }}" target="_blank"
                                class="modal__link">
                            политикой&nbsp;конфиденциальности
                        </a>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}