{% extends 'base.html.twig' %}

{% block body %}
    <div class="modal-box">
        <div js-modal class="modal is-init">
            <div class="modal__wrapper">
                <div class="modal__header">
                    <div class="modal__title">Восстановление</div>
                </div>
                <div class="modal__content">
                    {{ form_start(form, {'attr': { 'class': 'modal__form  modal-registration fos_user_resetting_reset' } }) }}
                    <div class="modal__section">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="modal__section modal__section_submit">
                        <button class="button button_full">
                            <span class="button__content">
                                <span class="button__title">Сбросить пароль</span>
                            </span>
                        </button>
                    </div>
                    <div class="modal__section modal__section_load">
                        <div class="modal__load"></div>
                    </div>
                    <div class="modal__section modal__section_center">
                        <a href="{{ path('homepage') }}" class="modal__link">Вернуться на главную</a>
                    </div>
                    {% if error is defined %}
                        <div class="modal__section">
                            <div class="modal__alert">
                                {{ error }}
                            </div>
                        </div>
                    {% endif %}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}