<div class="cards-list cards-list_2x">
    <div class="cards-list__list">
        {% for article in articles %}
            <div class="cards-list__list-item">
                {% include 'articles/article-card.html.twig' with {article:article} %}
            </div>
        {% endfor %}
    </div>
</div>