{% extends 'base.html.twig' %}
{% block body_mod %}{% endblock %}
{% block body %}
    <div class="sections-list block">
        <div class="sections-list__list block-wrapper">
            {% if breadcrumbs is defined and breadcrumbs is not empty %}
                <div class="section section_breadcrumbs sections-list__list-item">
                    {% include 'modules/breadcrumbs.html.twig' with {links:breadcrumbs} %}
                </div>
            {% endif %}
            <div class="section sections-list__list-item">
                <div class="article">
                    <div class="article__wrapper">
                        <div class="article__major">
                            <h1 class="article__title">{{ data.name }}</h1>
                        </div>
                        <div class="article__minor">
                            <div class="article__content">
                                {% autoescape false %} {{ data.content }} {% endautoescape %}
                            </div>
                            {% if data.products is not empty %}
                                <div class="article__additional">
                                    {% include 'products/products-list.html.twig' with {products: data.products} %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}