<a href="{{ path('promotion', {slug: article.slug}) }}" class="article-card"
   style="background-image: url({{ promotion_img_path ~ '/' ~ article.image }})">
    <div class="article-card__more">
        <div class="article-card__more-caption">Узнать подробнее</div>
    </div>
</a>