{% extends 'base.html.twig' %}
{% block body_mod %}is-grey{% endblock %}
{% block header_mod %}is-offset_none{% endblock %}
{% block body %}
    {% if breadcrumbs is defined and breadcrumbs is not empty %}
        {% include 'modules/breadcrumbs.html.twig' with {links:breadcrumbs} %}
    {% endif %}

    Название: {{ promotion.name }}<br/><br/>
    Контент:<br/>
    {% autoescape false %}
        {{ promotion.content }}
    {% endautoescape %}<br/><br/>
    Товары:<br/>
    {% if promotion.products is not empty %}
        {% include 'products/products-list.html.twig' with {products: promotion.products} %}
    {% endif %}<br/><br/>
{% endblock %}