{% extends 'base.html.twig' %}
{% block body_mod %}is-grey{% endblock %}
{% block header_mod %}is-offset_none{% endblock %}
{% block body %}
    {% if breadcrumbs is defined and breadcrumbs is not empty %}
        {% include 'modules/breadcrumbs.html.twig' with {links:breadcrumbs} %}
    {% endif %}
    {% if promotions is defined and promotions is not empty %}
        {% for promotion in promotions %}
            Название: {{ promotion.name }}<br/><br/>
            Изображение: <img src="{{ promotion_img_path ~ '/' ~ promotion.image }}"
                              alt="{{ promotion.name }}"
                              title="{{ promotion.name }}"><br/><br/>
            Ссылка: <a href="{{ path('promotion', {slug: promotion.slug}) }}">Перейти</a>
        {% endfor %}
    {% endif %}
{% endblock %}